* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background: linear-gradient(to bottom, var(--corL), var(--corP));
}

/* Upzinho */

.Seta-Up{
    position:fixed;
    bottom:50px;
    right:0px;
    display: none;
    font-size: 3rem;
    background-image: linear-gradient(to top, var(--corP), var(--corS));
    -webkit-background-clip: text;
    color: transparent;   
    width: 5rem;
    transition: .3s;
}

.Seta-Up:hover{
    color: var(--corP);
}
/* ----------------------Inicio---------------------- */

.espaço{
    padding: 50px;
}

#topo{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--corD);
    text-align: center;
}

#topo h1{
    color: var(--corD);
    font-size: 70px;
    font-family: 'Gugi', cursive;
    animation: Mover 2s forwards;
}

#topo p{
    padding-top: 30px;
    color: var(--corD);
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    animation: Mover 4s forwards;
}

/* ----------------------Informações---------------------- */

#info{
    margin-top: 200px;
    width: 100%;
    height: 320px;
    margin-bottom: 5px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to top, var(--corD), var(--corD2));
    border-radius: 25px;
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 15px var(--corS);
}

#info h2{
    font-size: 30px;
    padding-top: 30px;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
	letter-spacing: .5em;
    font-family: 'Josefin Sans', sans-serif;
}

#info p{
    padding-top: 30px;
    color: var(--corP);
    font-family: 'Josefin Sans', sans-serif;
}

/* ----------------------Pintura---------------------- */

#pinturas{
    margin-top: 200px;
    height: 100%;
    border-radius: 25px;
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 15px var(--corS);
    background-image: linear-gradient(to top, var(--corD), var(--corD2));
}

#pinturas h2{  
    font-size: 50px;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
	letter-spacing: .5em;    
    text-align: center;
    font-family: 'Gugi', cursive;
    padding-top: 100px;
}

.linkPint:hover{
    opacity: 0.7;
}

.PintArt{
    display: inline-block;
    margin-left: 60px;
    width: 400px;
    padding-top: 70px;
}

#Img-Usuario{
    width: 80px;
}

#Img-Usuario:hover{
    opacity: 0.7;
}

#InfoPint{
    width: 100%;
    height: 120px;
    background-image: linear-gradient(to bottom left, var(--tranp), var(--corP));
    border-radius: 10px;
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 5px var(--corP);
    margin-top: 10px;
}

.ImgPint {
    border-radius: 10px;
    border: 2px solid var(--corS);
    box-shadow: 0px 0px 5px var(--corS);
    width: 100%;
}
.User{
    display: flex;
}

.NomeUsuario{
	background-image: linear-gradient(to top, var(--corL), var(--corP));
  	-webkit-background-clip: text;
    color: transparent;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 15px;
    font-size: 30px;
}

.DescPint{
    text-align: center;
    color: var(--corD2);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 10px;
}

#Consultar{
    cursor: pointer;
    width: 120px;
    height: 35px;
    margin-top: 15px;
    margin-left: 70px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    transition: .3s;
    background: none;
    color: var(--corP);
    border: 2px solid var(--corP);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--corP);
}

#Consultar:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

@media (max-width: 100px){
    #Conteudo{
        display: none;
    }
}

/* ----------------------Desenvolvedores---------------------- */

#desenvolvedores{
    background-image: linear-gradient(to top, var(--corD), var(--corD2));
    padding: 20px;
    text-align: center;
}

#desig{
    background-image: linear-gradient(to top right, transparent, var(--corL));
    width: 320px;
    border: 1px solid var(--corL);
    border-radius: 20px;
    box-shadow: 0px 0px 8px var(--corL);
    display: inline-block;
    margin: 20px;
}


#desenvolvedores img{
    width: 30%;
    transition: 0.3s;
}

#desenvolvedores img:hover{
    opacity: 0.5;
    transform: scale(1.5);
}

#desenvolvedores h2{
    color: var(--corL);
    font-size: 50px;
    font-family: 'Gugi', cursive;
}

#desenvolvedores h3{
    font-size: 30px;
    color: var(--corD);
    font-family: 'Gugi', cursive;
}

#desenvolvedores p{
    color: var(--corP);
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.social-media{
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Redes{
    justify-content: space-around;
    margin: 20px;
    font-size: 3rem;
    background: transparent;
    color: var(--corL);
    width: 5rem;
    transition: .3s;
}

.Redes:hover{
    color: var(--corD);
    transform: scale(1.40)
}

@keyframes Mover{
    from {
        transform: translate(500px);
    }
    to {
        transform: translate(0);
    }
}

@media (max-height: 700px){
    #desig{
        margin-top: 90px;
    }
}
