nav.Menu{
	text-align: center;
	height: 60px;
	width: 100%;
}
h1{
	background-image: linear-gradient(to top, var(--corD), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	padding: 0.5em;
	font-family: 'Gugi', cursive;
}

.M {
	font-family: 'Josefin Sans', sans-serif;
	color: var(--corS);
	border: 1px solid var(--corS);
    border-radius: 50%;
	box-shadow: 0px 0px 15px var(--corS);
    width: 2rem;
    height: 2rem;
    position: fixed;
    left: 2rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
	animation: aumentar 1s linear infinite;
}

.L {
	font-family: 'Josefin Sans', sans-serif;
	color: var(--corS);
	border: 1px solid var(--corS);
    border-radius: 50%;
	box-shadow: 0px 0px 15px var(--corS);
    width: 2rem;
    height: 2rem;
    position: fixed;
    right: 2rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
	animation: aumentar 1s linear infinite;
}

/* animação para aumentar */
@keyframes aumentar{
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1.10);
	}
}