*{
    margin: 0;
    padding: 0;
} 

body{
    height: 100vh;
    background-image: linear-gradient(to top, var(--corD2), var(--corD));
}

/* formulário */
.card{
    background: transparent;
    border: 2px solid var(--corS);
    box-shadow: 0px 0px 12px var(--corS);
    border-radius: 33px;
    width: 400px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;      
}

/* Para centralizar a Icon e o Nome Login*/
.card-top{
    text-align: center;
}

/* Icon do formulário*/
.User{
    position: relative;
    margin-bottom: 20px;
    font-size: 80px;
    background-image: linear-gradient(to top, var(--corS), var(--corP));
  	-webkit-background-clip: text;
    color: transparent;
}

/* Texto Login Admin */
.login{
    font-family: 'Gugi', cursive;
	background-image: linear-gradient(to top left, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
}

/* mudar a cor dos inputs */
input::placeholder {
    background-image: linear-gradient(to top left, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
}

/* Campo de texto Email e Senha*/
form input[type=email],         /* h */
form input[type=password]{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    display: block;
    margin: 30px auto;
    text-align: center;
    height: 38px;
    width: 320px;
    outline: none;
    background: transparent;
    color: var(--corP);
    border: none;
    border-bottom: 2px solid var(--corP);
    outline: none;
    box-sizing: border-box;
    transition: .3s;
}

/* Animação de clicar nos campos focus*/
form input[type=email]:focus,
form input[type=password]:focus{
    width: 320px;
    border-bottom: 2px solid var(--corS);
}

/* Modificação do botão enviar*/
form input[type=submit]{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: 0;
    cursor: pointer;
    text-align: center;
    padding: 14px 60px;
    border-radius: 24px;
    outline: 0; 
    transition: .2s;
    background: #ffd9005b;
    color: var(--corP);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 5px var(--corP);                        
}

/* Animação do botão quando passar o mause*/
form input[type=submit]:hover{
    background: var(--corP);
    color: var(--dark);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

/* cadastrar */

.txtC{
    margin-top: 20px;
    color: var(--light);
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

.social-media{
    align-items: center;
    display: inline-block;
    margin-top: 10px;
    font-size: 45px;
}

.Redes{
    width: 80px;
    border: none;
    color: var(--corL);
    cursor: pointer;
    transition: .3s;
}

.Redes:hover,
.Redes:focus{
    background-image: linear-gradient(to top, var(--corS), var(--corP));
  	-webkit-background-clip: text;
    color: transparent;
}