*{
    margin: 0;
    padding: 0;
}

body{
	background-image: linear-gradient(180deg, var(--tranp) 0%, var(--corC) 100%);
}

#instrucoes{
    display: inline-flex;
}

#div_1{
    margin: 20px;
}

#div_2{
    margin: 20px;
}

.card_instru{
    width: 100%;
    display: inline-block;
    margin-top: 40px;
    text-align: center;
    border-radius: 20px;
	background-image: linear-gradient(315deg, var(--corS) 0%, var(--corC) 100%);
    border-top: 4px solid var(--corS);
    border-bottom: 4px solid var(--corS);
    box-shadow: 0 0 5px var(--corS);
    transition: .3s;
}

.card_instru:hover{   
    box-shadow: 0 0 20px var(--corS);
}

.card_instru label{
    font-size: 28px;
    font-family: 'Calibri', sans-serif;
    background-image: linear-gradient(to bottom, var(--corC2), var(--corD2));
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

.card_instru h1{
    font-size: 30px;
    font-family: 'Calibri', sans-serif;
    background-image: linear-gradient(to bottom, var(--corC2), var(--corD2));
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

.card_instru p{
    margin: 20px;
    color: var(--corL);
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;   
}

#Lembrete{
    width: 100%;
    display: inline-block;
    margin-top: 40px;
    text-align: center;
    border-radius: 20px;
	background-image: linear-gradient(315deg, var(--corS) 0%, var(--corC) 100%);
    border-top: 4px solid var(--corS);
    border-bottom: 4px solid var(--corS);
    box-shadow: 0 0 5px var(--corS);
    transition: .3s;
}

#Lembrete:hover{   
    box-shadow: 0 0 20px var(--corS);
}

#Lembrete h2{
    font-size: 40px;
    font-family: 'Calibri', sans-serif;
    background-image: linear-gradient(to bottom, var(--corC2), var(--corD2));
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

#Lembrete p{
    font-size: 30px;
    font-family: 'Calibri', sans-serif;
    background-image: linear-gradient(to bottom, var(--corC2), var(--corD2));
    -webkit-background-clip: text;
    color: transparent;
}

#Master{
    display: block;
    padding: 80px;
}

#container{
    width: 100%;
    display: inline-flex;
}

.card{
    width: 600px;
    height: 100%;
    display: inline-block;
    margin: 40px;
    text-align: center;
	background-image: linear-gradient(315deg, var(--corS) 0%, var(--corC) 100%);
    border: 0;
    border-top: 4px solid var(--corAS);
    border-bottom: 4px solid var(--corAS);
    border-radius: 33px;
}

.card:hover{
    box-shadow: 0 0 20px var(--corS);
    border-top: 4px solid var(--corS);
    border-bottom: 4px solid var(--corS);
}

#T1{
    margin: 20px;
    background-image: linear-gradient(to bottom, var(--corD2), var(--corAS));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    font-family: 'Calibri', sans-serif;    
}

#T2{
    margin: 20px;
    margin-bottom: 20px;
    color: var(--corL);
    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;    
}


#Input_mensagem{
    width: 400px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;
    resize: none;
    justify-content: space-around;
    background: var(--tranp);
    color: var(--corAS);
    border: none;
    border-radius: 8px;
    border-top: 2px solid var(--corAS);
    border-bottom: 2px solid var(--corAS);
    box-sizing: border-box;
    transition: .3s;
}
#Input_mensagem:focus{
    border-top: 2px solid var(--corS);
    border-bottom: 2px solid var(--corS);
    box-shadow: 0 2px 5px var(--corS);
}

#btn_enviar{
    padding: 5px 25px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 24px;
    background: var(--tranp);
    color: var(--corAS);
    border: 2px solid var(--tranp);
    box-shadow: 0px 0px 5px var(--tranp);
    transition: .3s;
}

#btn_enviar:hover{
    background: var(--corAS);
    color: var(--corL);
    border: 2px solid var(--corAS);
    box-shadow: 0px 0px 10px var(--corAS);
}

#divIMG{
    width: 500px;
}

#IMGpublic{
    margin: 20px;
    width: 50%;
    border-radius: 20px;
    border-top: 3px solid var(--corS);
    border-bottom: 3px solid var(--corS);
    transition: .3s;
}

#IMGpublic:hover{
    border-top: 3px solid var(--corP);
    border-bottom: 3px solid var(--corP);
}

#SelectIMG{
    display: none;
}

#Select_img_public{
    padding: 5px 25px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 24px;
    background: var(--tranp);
    color: var(--corAS);
    border: 2px solid var(--tranp);
    box-shadow: 0px 0px 5px var(--tranp);
    transition: .3s;
}

#Select_img_public:hover{
    background: var(--corAS);
    color: var(--corL);
    border: 2px solid var(--corAS);
    box-shadow: 0px 0px 10px var(--corAS);
}

/* ----------------------Desenvolvedores---------------------- */

#desenvolvedores{
    margin-top: 20px;
    width: 100%;
    background-image: linear-gradient(0deg, var(--corAS) 0%, var(--corC) 100%);
    border: none;
    border-top: 3px solid var(--corS);
    border-bottom: 3px solid var(--corS);
    box-shadow: 0px 0px 15px var(--corS);
    border-radius: 33px;
    text-align: center;
}

#desig{
    width: 350px;
    display: inline-block;
    margin: 20px;
    background-image: linear-gradient(360deg, var(--corAS) 0%, var(--corC) 100%);
    border: 0;
    border-top: 4px solid var(--corS);
    border-bottom: 4px solid var(--corS);
    border-radius: 33px;
    transition: .3s;
}

#desig:hover{
    border-top: 4px solid var(--corP);
    border-bottom: 4px solid var(--corP);    
}


.img-P{
    margin-top: 20px;
    width: 30%;
    background: var(--tranp);
    border: 0;
    border-radius: 100%;
    transition: .3s;
}

.img-P:hover{
    opacity: .7;
    transform: scale(1.5);
}

#desenvolvedores h2{
    margin: 20px;
    background-image: linear-gradient(to top, var(--corAS), var(--corS));
    -webkit-background-clip: text;
    color: transparent;  
    font-size: 50px;
    font-family: 'Calibri', sans-serif;
}

#desenvolvedores h3{
    margin-top: 20px;
    font-size: 30px;
    background-image: linear-gradient(to bottom, var(--corS), var(--corAS));
    -webkit-background-clip: text;
    color: transparent;  
    font-family: 'Calibri', sans-serif;
}

#desenvolvedores p{
    color: var(--corP);
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.social-media{
    margin-bottom: 20px;
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Redes{
    justify-content: space-around;
    margin: 20px;
    font-size: 3rem;
    color: var(--corL);  
    width: 5rem;
    transition: .3s;
}

.I:hover{
    background-image: linear-gradient(to top, #FF1493, #8A2BE2);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.T:hover{
    color: #00BFFF;
    transform: scale(1.40);
}

.G:hover{
    background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}