*{
    margin: 0;
    padding: 0;
}

body{
    overflow-y: hidden;
    background: var(--dark);
}

#section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Input_Usuario{
    display: none;
}

h2{
    margin: 20px;
    font-size: 42px;
    font-family: 'Calibri', sans-serif;
    background-image: linear-gradient(to top right, var(--secundary), var(--primary));
  	-webkit-background-clip: text;
    color: transparent;
}

#form_excluir{
    margin: 100px;
    display: inline-flex;
}

#perfil{
    display: inline-flex;
}

h1{
    font-size: 42px;
    font-family: 'Calibri', sans-serif;
    background-image: linear-gradient(to top right, var(--secundary), var(--primary));
  	-webkit-background-clip: text;
    color: transparent;
}


.Fundo_img{
    width: 300px;
}

.Pintura{
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

#btn_excluir_conta{
    font-family: 'Calibri', sans-serif;
    height: 40px;
    width: 120px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    background: var(--tranp);
    color: #dc3545;
    border-top: 3px solid #dc3545;
    border-bottom: 3px solid #dc3545;
    transition: .3s; 
}

#btn_excluir_conta:hover{
    background: #dc3545;
    color: var(--light);
    box-shadow: 0 0 12px #dc3545;
}
  
#btn_cancelar{
    margin-left: 50px;
    width: 200px;
    height: 32px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    background: var(--tranp);
    color: var(--light);
    border-top: 3px solid var(--light);
    border-bottom: 3px solid var(--light);
    border-radius: 8px;
    transition: .3s;  
}

#btn_cancelar:hover{
    background: var(--light);
    box-shadow: 0px 0px 10px var(--light);
    color: var(--dark);
}