*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
	background-image: linear-gradient(180deg, var(--tranp) 0%, var(--corD) 100%);
}

input::placeholder {
    color: var(--corL);
}

#Form-Card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    text-align: center;
    border-radius: 33px;
}

#Form-Card h2{    
    margin-top: 20px;
	background-image: linear-gradient(to top, var(--corD2), var(--corC2));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
    font-family: 'Calibri', sans-serif;
    text-decoration: none;
    transition: 0.3s;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;    
}

#Registros{
    display: inline-flex;
}

#e{
    margin: 20px;
} 

#d{
    margin: 20px;
}

.Icon{
    font-size: 90px;
    margin-top: 20px;
	background-image: linear-gradient(to top, var(--tranp), var(--corC2));
  	-webkit-background-clip: text;
    color: transparent;
}

.label{
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    color: var(--corL);  
    display: flex;
}

.Input{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    margin: 20px auto;
    text-align: center;
    height: 38px;
    width: 320px;
    outline: none;
    background: var(--tranp);
    color: var(--corS);
    border: none;
    border-radius: 8px;
    border-bottom: 3px solid var(--corP);
    box-sizing: border-box;
    transition: .3s;
}
.Input:focus{
    box-shadow: 0 0 5px var(--corS);
    border-bottom: 3px solid var(--corS);
}

#botao{
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: 0;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-radius: 24px;
    background: var(--tranp);
    color: var(--corP);
    border: 2px solid var(--tranp);
    box-shadow: 0px 0px 5px var(--tranp);
    transition: .3s;                     
}

#botao:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

.menu_input{
    margin: 30px;
}

.menu_input p{
    margin-bottom: 20px;
    font-size: 30px;
    color: var(--corL);
}

.menu_input a{
    color: var(--corP);
}
.menu_input a:hover{
    color: var(--corS);
}

.botão{
    background: black;
    color: white;
}

.Isenha{
    color: var(--corL);
    position: absolute;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 125px;
    transition: .7s;
}

.Isenha:hover{
    color: var(--corS);
}

.Isenha2{
    color: var(--corL);
    position: absolute;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 125px;
    transition: .7s;
}


.Isenha2:hover{
    color: var(--corS);
}