*{
    margin: 0;
    padding: 0;
}

body{
    overflow-y: hidden;
    height: 100vh;
    background-image: linear-gradient(180deg, var(--corS) 0%, var(--corAS) 100%);
}

input::placeholder {
    color: var(--corAS);
    font-family: 'Josefin Sans', sans-serif;
}


#Form-Card{
    display: inline-flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    width: 1200px;
    height: 500px;
    text-align: center;  
    border-radius: 20px;
    background-image: linear-gradient(22deg, var(--corC) 0%, var(--corL) 100%);
    border: 3px solid var( --corL);
    box-shadow: 0 0 20px var(--corP);
}

#Form-Card h2{  
    font-size: 30px;
    font-family: 'Calibri', sans-serif;
    background-image: linear-gradient(180deg, var(--corS) 0%, var(--corAS) 100%);
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    margin-left: 20px;
    letter-spacing: 5px;
}

#Registros{
    display: inline-flex;
}

#e{
    margin: 20px;
} 

#d{
    margin: 20px;
}

.Icon{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 80px;
    background-image: linear-gradient(180deg, var(--corS) 0%, var(--corAS) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.Input{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    height: 38px;
    width: 320px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: none;
    border-bottom: 3px solid var(--corAS);
    transition: .3s;
}
.Input:focus{
    color: var(--corS);
    border-bottom: 3px solid var(--corS);
}

#botao{
    width: 200px;
    height: 40px;
    margin-top: 80px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: 0;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    background: transparent;
    color: var(--corAS);
    border-bottom: 3px solid var(--corAS);
    border-top: 3px solid var(--corAS);
    transition: .3s;              
}

#botao:hover{
    background: var(--corAS);
    color: var(--corL);
    box-shadow: 0px 0px 10px var(--corAS);
}

.menu_input{
    margin: 50px;
}

.menu_input p{
    font-family: 'Josefin Sans', sans-serif; 
    margin-bottom: 20px;
    font-size: 27px;
    color: var(--corAS);
}

.menu_input a{
    color: var(--corAS);
}
.menu_input a:hover{
    color: var(--corS);
}

.botão{
    background: black;
    color: white;
}

.Isenha{
    color: var(--corAS);
    position: absolute;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 125px;
    transition: .7s;
}

.Isenha:hover{
    color: var(--corS);
}

.Isenha2{
    color: var(--corAS);
    position: absolute;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 125px;
    transition: .7s;
}


.Isenha2:hover{
    color: var(--corS);
}

#card_a p{
    font-family: 'Josefin Sans', sans-serif; 
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 20px;
    color: var(--corAS);
}

.menu-link{
    font-size: 20px;
    color: var(--corAS);               
}

.menu-link:hover{
    color: var(--corS);
}