*{
    margin: 0;
    padding: 0;
}

body{
    overflow-y: hidden;
    height: 100vh;
    background-image: linear-gradient(180deg, var(--tertiary) 0%, var(--primary2) 100%);
}

input::placeholder {
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
}

#Form-Card{
    display: inline-flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    width: 1200px;
    height: 500px;
    text-align: center;  
    border-radius: 20px;
    background: transparent;
    animation: aparecer 1.3s;
}

#Form-Card h2{  
    font-size: 30px;
    font-family: 'Calibri', sans-serif;
    background-image: linear-gradient(0deg, var(--light2) 0%, var(--light) 100%);
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    margin-left: 20px;
}

#Registros{
    display: inline-flex;
}

#e{
    margin: 20px;
} 

#d{
    margin: 20px;
}

.Icon{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 80px;
    background-image: linear-gradient(0deg, var(--light2) 0%, var(--light) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.Input{
    padding: 0 10px 0 29px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    height: 38px;
    width: 320px;
    outline: none;
    background: none;
    border: none;
    border-radius: 8px;
    color: var(--light);
    background: var(--tranp);
    border-bottom: 3px solid var(--light);
    transition: .3s;
}
.Input:focus{
    background: var(--dark);
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
}

#botao{
    width: 200px;
    height: 40px;
    margin-top: 80px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: 0;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    background: var(--tranp);
    color: var(--light);
    transition: .3s;           
}

#botao:hover{
    background: var(--light);
    color: var(--dark);
    box-shadow: 0px 0px 10px var(--light);
}

.menu_input{
    margin: 50px;
}

.menu_input p{
    font-family: 'Josefin Sans', sans-serif; 
    margin-bottom: 20px;
    font-size: 27px;
    color: var(--light);
}

.menu_input a{
    color: var(--light);
}
.menu_input a:hover{
    color: var(--primary);
}

.botão{
    background: black;
    color: white;
}

.Isenha{
    color: var(--light);
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 310px;
    transition: .3s;
}

.Isenha:hover{
    color: var(--primary);
}

.Isenha2{
    color: var(--light);
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 310px;
    transition: .3s;
}


.Isenha2:hover{
    color: var(--primary);
}

#card_a p{
    font-family: 'Josefin Sans', sans-serif; 
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 20px;
    color: var(--light);
}

.menu-link{
    font-size: 20px;
    color: var(--light);               
}

.menu-link:hover{
    color: var(--primary);
}