*{
    margin: 0;
    padding: 0;
}

#MenuModal_EditPerfil{
    text-align: center;
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    border: none;
	background-image: linear-gradient(to bottom, var(--corD2), var(--tranp));
    border-bottom: 3px solid var(--corS);
}

#nav_menu{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gugi', sans-serif;
    border-bottom: 3px solid var(--corS);
}

#TituloMenu{
    font-family: 'Gugi', sans-serif;
	background-image: linear-gradient(to bottom, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
}

#dividir{
  display: flex;
}

#divIMG{
  width: 20%;
  margin-left: 20px;
  margin-top: 20px;
}

.Foto_Perfil{
  width: 100%;
  border-radius: 50%;
}

#SelectIMG{
    display: none;
}

#Select_img_public{
    padding: 5px 25px;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 24px;
    background: var(--tranp);
    color: var(--corP);
    border: 2px solid var(--tranp);
    box-shadow: 0px 0px 5px var(--tranp);
    transition: .3s;
}

#Select_img_public:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

#INPUTS{
  margin: 100px;
  display: flex;
}

.menu-box{
  margin: 10px;
}

/* Campo de texto Email e Senha*/
.Inputs{
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  margin: 20px auto;
  text-align: center;
  height: 38px;
  width: 320px;
  outline: none;
  background: var(--corD2);
  color: var(--corS);
  border: none;
  border-radius: 20px;
  border-bottom: 3px solid var(--corP);
  box-sizing: border-box;
  transition: .3s;
}

/* Animação de clicar nos campos focus*/
.Inputs:focus{
  width: 100%;
  border-top: 1px solid var(--corS);
  border-bottom: 1px solid var(--corS);
  border-left: 5px solid var(--corS);
  border-right: 5px solid var(--corS);
}