*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: linear-gradient(180deg, var(--tertiary) 0%, var(--primary2) 100%);
}

input::placeholder {
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
}

textarea::placeholder {
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
}

#Menu_Etapa{
    align-items: center;
    text-align: center;
}

#TituloMenu{
    margin-top: 10px;
    font-family: 'Calibri', sans-serif;
	background-image: linear-gradient(to bottom, var(--secundary), var(--primary));
  	-webkit-background-clip: text;
    color: transparent;
}

p{    
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--light);
}

#link_ajuda{
    position: absolute;
    color: var(--tertiary);
    font-size: 25px;
    bottom: 10px;
    left: 20px;
}

#link_ajuda a{
    color: var(--light);
}

#link_ajuda a:hover{
    color: var(--dark);
}

#card_group{
    display: flex;
}

#E{
    width: 20%;
    margin: 50px;
}

#imgDIV{
    margin-bottom: 50px;
}

#pintura_etapa{
    width: 100%;
    border-radius: 20px;
    border-top: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
    transition: .3s;
}

#pintura_etapa:hover{
    border-top: 3px solid var(--secundary);
    border-bottom: 3px solid var(--secundary);
}


#inputIMG{
    display: none;
}

.AlteraImg-Pintura{
    padding: 10px 8px;  
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;  
    justify-content: center;
    align-items: center;       
    border: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    background: var(--tranp);
    color: var(--secundary);
    border: 2px solid var(--tranp);
    box-shadow: 0px 0px 5px var(--tranp);
    transition: .3s;
}

.AlteraImg-Pintura:hover{
    background: var(--secundary);
    color: var(--dark);
    border: 2px solid var(--secundary);
    box-shadow: 0px 0px 10px var(--secundary);
}

#divND{
    margin-top: 20px;
}

#grade{
    margin-top: 20px;
}

.InputP{
    width: 350px;
    height: 40px;
    border: 0;
    font-size: 20px;
    text-align: center;
    outline: none;
    margin-left: 20px;
    margin-top: 20px;
    background: var(--tranp);
    color: var(--secundary);
    border-radius: 8px;
    border-bottom: 2px solid var(--secundary);
}

.InputP:focus{
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
    box-shadow: 0 2px 5px var(--primary);
}

textarea#InputDesc {
    height: auto;
}

#InputDesc{
    width: 900px;
    font-size: 20px;
    height: 34px;
    padding: 6px 12px;
    font-size: 21px;
    outline: none;
    background: var(--tranp);
    color: var(--secundary);
    border: none;
    border-radius: 8px;
    border-top: 2px solid var(--secundary);
    border-bottom: 2px solid var(--secundary);
    box-sizing: border-box;
    transition: .3s;
}
#InputDesc:focus{
    color: var(--primary);
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    box-shadow: 0 2px 5px var(--primary);
}

#BtnSP{
    margin-top: 20px;
    width: 120px;    
    height: 40px;
    font-size: 20px;    
    cursor: pointer;
    border: none;    
    background: var(--tranp);
    color: var(--light);    
    border-radius: 8px;
    border-bottom: 2px solid var(--light);
    animation: Pulse 1s infinite;
    transition: .4s;    
}
#BtnSP:hover{
    animation: none;
    background: var(--light);
    color: var(--dark);
    box-shadow: 0px 0px 8px var(--light);
}