@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap'); /* Fonte menor */
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap'); /* Fonte Maior */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"); /* link para conectar o site dos icones */

:root {
    --corC: #acacac;
    --corC2: #4c4589;
    --tranp: #0000004d;
    --corD: #0B1219;
    --corD2:#17202b;
    --corL: #E7F1F7;
    --corP: #76d4df;
    --corS: #8176df;
}

body{
    overflow-x:hidden;
}

body::-webkit-scrollbar{
    width: 10px;              
}
  
body::-webkit-scrollbar-track{
    background: var(--corD);
}
  
body::-webkit-scrollbar-thumb{
	background-image: linear-gradient(45deg, var(--corP) 0%, var(--corS) 100%);
    border-radius: 30px;
}

body::-webkit-scrollbar-thumb:hover{
	background-image: linear-gradient(45deg, var(--corP) 0%, var(--corS) 100%);
}