*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
	background-image: linear-gradient(180deg, var(--corAS) 0%, var(--corP) 100%);
}

#Cont_Master{
    display: block;
    padding: 20px;
}

#Card_Mensagem{
    text-align: center;
    margin-top: 50px;
}

#T1{
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
    font-size: 50px;
    font-family: 'Calibri', sans-serif;    
}

#T2{
    color: var(--corL);
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;    
}

#Quadros{
    margin-top: 20px;
    width: 100%;
    border: none;
    text-align: center;
    background: var(--tranp);
    border-radius: 20px;
    border-left: 3px solid var(--corL);
    border-right: 3px solid var(--corL);
}

#Coluna{
    display: flex;
    list-style: none;
}

.RT{
    margin: 20px;
    width: 200px;
}

.Quadrinhos{
    width: 100%;
    border-radius: 20px;
    border-top: 3px solid var(--corS);
    border-bottom: 3px solid var(--corS);
    transition: .3s;
}

.Quadrinhos:hover{
    border-top: 3px solid var(--corP);
    border-bottom: 3px solid var(--corP);
}

#btn_piscar{
    background: none;
    color: var(--corP);
    border: 2px solid var(--corP);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--corP);
    animation: Pulse 1.2s infinite;
    transition: .3s;  
}

#btn_piscar:hover{
    animation: none;
    background: var(--corP);
    color: var(--corD);
    border-bottom: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

@keyframes Pulse{
    from {
        transform: scale(.7);
        background: var(--corP);
        color: var(--corD);
        border: 2px solid var(--corP);
        box-shadow: 0px 0px 10px var(--corP);
    }
}