*{
    margin: 0;
    padding: 0;
}

body{
    background: var(--dark);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide{
    width: 512px;
    height: 288px;
    overflow: hidden;
    border-radius: 15px;
    border: 3px solid var(--light);
    box-shadow: 0 0 12px var(--light);
    transition: all 1s;
}

.slides{
    width: 5120px;
    display: flex;
}

#Card_Mensagem{
    position: absolute;
    top: 50px;
    text-align: center;
}

.textospp{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: var(--light);
    margin:20px auto;
}

.images img{
    width: 512px;
    height: 288px;
}

#atual{
    transition: all 2s;
}

.btn{
    position: absolute;
    color: var(--light);
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1.7em;
    margin-top: -5px;
}

.btn:hover{
    transform: scale(1.5);
}

#voltar{
    top: 50%;
    left: 28%;
}

#frente{
    top: 50%;
    right: 28%;    
}

.bolas{
    position: absolute;
    width: 512px;
    display: flex;
    justify-content: center;
    margin-top: -45px;
}

.bolas div{
    transition: all 0.5s;
    border: 3px solid var(--light);
    padding: 6px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.bolas div:hover{
    background: var(--light);
}

.img_atual{
    transition: 0.5s;
    background: var(--light);
}