*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-image: linear-gradient(to bottom left, var(--corD2), var(--corD));
}

#Cont_Master{
    text-align: center;
}

h2{
    padding: 20px;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--corL);
}

#Quadros{
    margin-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--tranp);
    border-radius: 20px;
    border-left: 3px solid var(--corL);
    border-right: 3px solid var(--corL);
}

#Coluna{
    display: inline-flex;
    width: 100%;
    list-style: none;
}

.RT{
    padding: 10px;
    width: 200px;
}

.Quadrinhos{
    width: 100%;
    border-radius: 20px;
    border-top: 3px solid var(--corS);
    border-bottom: 3px solid var(--corS);
    transition: .3s;
}

.Quadrinhos:hover{
    border-top: 3px solid var(--corP);
    border-bottom: 3px solid var(--corP);
}

#btn_entrar{
    padding: 6px 25px;
    text-decoration: none;
    transition: .3s;
    background: none;
    color: var(--corP);
    border: 2px solid var(--corP);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--corP);
    animation: Pulse 1.2s infinite;
    transition: .3s;  
}

#btn_entrar:hover{
    animation: none;
    background: var(--corP);
    color: var(--corD);
    border-bottom: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

@keyframes Pulse{
    from {
        transform: scale(.7);
        background: var(--corP);
        color: var(--corD);
        border: 2px solid var(--corP);
        box-shadow: 0px 0px 10px var(--corP);
    }
}