* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100%;
    background: var(--dark);
}

.espaço{    
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 1px;
    border-radius: 50px;
    border: 0;
    border-radius: 20px;
}

/* ----------------------Inicio---------------------- */


#topo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--tranp) , var(--dark));
    border-radius: 12px;
    border: 3px solid var(--secundary);
}

#topo h1{
	background-image: linear-gradient(0deg, var(--secundary) 0%, var(--primary)70%);
  	-webkit-background-clip: text;
    color: transparent;
    font-size: 75px;
    font-family: 'Calibri', sans-serif;
    animation: aparecer 5s;
}

.usuario_logado{
    font-size: 70px;
    font-family: 'Calibri', sans-serif;	
    background-image: linear-gradient(0deg, var(--light2) 0%, var(--light) 100%);
  	-webkit-background-clip: text;
    color: transparent;
    animation: pulse .7s ;
    transition: .3s;
}

.usuario_logado:hover {
    opacity: 0.7;
}

#topo p{
    padding-top: 30px;
    color: var(--light);
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    animation: rotação 1s;
}

/* ----------------------Pesquisar------------------------ */

#section_pesquisar{
    width: 100%;
    height: 380px;
    background: transparent;
    border: 0;
    border-radius: 20px;
    border-top: 3px solid var(--dark);
}

#div_pesquisar{  
    position: absolute;
    bottom: -300px;
    display: flex;
    left: 30px;
}

#section_pesquisar label{
	background-image: linear-gradient(0deg, var(--secundary) 0%, var(--primary)70%);
  	-webkit-background-clip: text;
    color: transparent;
    font-size: 35px;
    font-family: 'Calibri', sans-serif;
    animation: aparecer 10s;
}

.IconU{
	background-image: linear-gradient(0deg, var(--secundary) 0%, var(--primary)70%);
  	-webkit-background-clip: text;
    color: transparent;
    font-size: 35px;
    margin-right: 12px;
}

#form_input_procurar{
    align-items: center;
    display: flex;
}

.resultado{
    display: inline-flex;
    margin: 20px;
}

.form-pesquisa{
    display: inline-flex;
    width: 200px;
    margin: 12px;
    border-radius: 20px;
    background-image: linear-gradient(45deg, var(--tertiary), var(--tranp));
    border: 3px solid var(--tertiary);
    box-shadow: 0 0 5px var(--tertiary);
    transition: .3s;
}

.form-pesquisa:hover{
    background-image: linear-gradient(0deg, var(--primary), var(--tranp));
    border: 3px solid var(--primary);
    box-shadow: 0 0 12px var(--primary);
}

#Div_buscar_img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

#FP_img_busca{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#btn_buscar{
    position: absolute;
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    border: 0;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-radius: 24px;
    background: none;
    color: var(--secundary);
    box-shadow: 0px 0px 5px var(--tranp);
    transition: .3s; 
}

#form_outro_usuario{
    margin-left: 20px;
    text-align: center;
}

.IconB{
    position: absolute;
    margin-top: 5px;
    margin-left: 150px;
    background-image: linear-gradient(0deg, var(--secundary) 0%, var(--primary)70%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 26px;
    animation: piscar 3s infinite;
}

input::placeholder {
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
}

#outro_usuario{
  width: 400px;
  height: 40px;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  text-align: center;
  border: none;
  border-radius: 8px;
  outline: none;
  background: var(--tranp);
  color: var(--light);
  border-bottom: 3px solid var(--primary3);
  box-sizing: border-box;
  transition: .3s;
}

#outro_usuario:focus{
  border-bottom: 3px solid var(--primary);
  box-shadow: 0 2px 5px var(--primary);
}

#P_nenhum{
    margin: 60px;
    color: var(--secundary);
    font-size: 30px;
    font-family: 'Calibri', sans-serif;
    animation: aparecer 2s;
}

/* ----------------------Informações---------------------- */

#info{
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
	background-image: linear-gradient(to top, var(--primary3), var(--dark));
    border: 0;
    border-radius: 20px;
    border-bottom: 3px solid var(--dark2);  
}

#info h2{
    font-size: 50px;
    padding-top: 60px;
	background-image: linear-gradient(to top, var(--secundary), var(--primary));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
	text-transform: uppercase;
    font-family: 'Calibri', sans-serif;
}

.info-P{
    font-size: 30px;
    margin-top: 30px;
    color: var(--secundary);
    font-family: 'Josefin Sans', sans-serif;
}

.caixa-help{
    height: 80px;
    width: 850px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--tranp);
    border-radius: 50px;
}

.help{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: var(--secundary);
    transition: .3s;
}

.help a{
    color: var(--light);
    text-decoration: underline;
}

.help a:hover{
    color: var(--primary);
}
/* ----------------------   Pintura    ---------------------- */

#pinturas{
    margin-top: 200px;
    height: 100%;
    background-image: linear-gradient(269deg, var(--tranp) 0%, var(--dark) 100%);
    border: 0;
    border-radius: 20px;
    border-top: 3px solid var(--primary);  
    border-bottom: 3px solid var(--primary);  
}

#pinturas h2{  
    font-size: 50px;
	background-image: linear-gradient(45deg, var(--secundary) 0%, var(--primary) 100%);
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
	letter-spacing: .5em;    
    text-align: center;
    font-family: 'Calibri', sans-serif;
    padding-top: 100px;
}

.imgpp{
    margin: 50px;
}

.pint{
    border-radius: 8px;
    width: 400px;
    border-top: 3px solid var(--primary);  
    border-bottom: 3px solid var(--primary);  
    transition: .3s;
}

.pint:hover{
    border-top: 3px solid var(--secundary);  
    border-bottom: 3px solid var(--secundary);  
}

.pint2{
    border-radius: 8px;
    width: 400px;
    border-top: 3px solid var(--dark);  
    border-bottom: 3px solid var(--dark);  
    transition: .3s;
}

.pint2:hover{
    border-top: 3px solid var(--secundary);  
    border-bottom: 3px solid var(--secundary);  
}

.textospp{
    margin: 20px;
}

.Nome_Foto{
    color: var(--primary);
    font-size: 30px;
    font-family: 'Calibri', sans-serif;
}

.Nome_Foto2{
    color: var(--light);
    font-size: 30px;
    font-family: 'Calibri', sans-serif;
}

.Desc_Foto{
    margin-top: 20px;
    font-size: 20px;
    color: var(--primary);
    font-family: 'Josefin Sans', sans-serif;
}

.Desc_Foto2{
    margin-top: 20px;
    font-size: 20px;
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
}

.data_pint{
    font-size: 20px;
    position: relative;
    left: 100px;
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
}

.itensCad{
    border: 2px solid var(--tranp);
    border-radius: 10px;
    padding: 15px;
}

.itensCad{
    background: var(--light);
}

.PintArt{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Img-Usuario{
    margin-left: 20px;
    width: 80px;
    height: 80px;    
    border: 3px solid var(--primary);
    box-shadow: 0 0 8px var(--primary);
    display: block;
    border-radius: 50%;
}

#Img-Usuario2{
    margin-left: 20px;
    width: 100px;
    height: 100px;    
    border: 2px solid var(--light);
    box-shadow: 0 0 8px var(--light);
    display: block;
    border-radius: 50%;
}

.NomeUsuario{
    height: 20px;
    color: var(--primary); 
    font-family: 'Calibri', sans-serif;
    margin-top: 15px;
    margin-left: 10px;
    float: left;
    font-size: 30px;
}

.NomeUsuario2{
    height: 20px;
    color: var(--light); 
    font-family: 'Calibri', sans-serif;
    margin-top: 15px;
    margin-left: 10px;
    float: left;
    font-size: 30px;
}

.InfoPint{
    margin: 300px;
    width: 650px;
    border: 0;
    background-image: linear-gradient( 0deg, var(--primary), var(--tranp));
    border: 3px solid var(--primary);
    box-shadow: 0 0 20px var(--primary);
    border-radius: 22px;
    align-items: center;
    text-align: center;
}

.InfoPint2{
    margin: 300px;
    width: 650px;
    border: 0;
    background-image: linear-gradient( 0deg, var(--light), var(--tranp));
    border: 3px solid var(--light);
    box-shadow: 0 0 20px var(--light);
    border-radius: 22px;
    align-items: center;
    text-align: center;
}

.ConteudoInfo{
    border-bottom: 3px solid var(--primary);
}

.ConteudoInfo2{
    border-bottom: 3px solid var(--light);
}

.PintArt h4{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--primary);
    transition: .3s;
}

.PintArt a{
    text-decoration: underline;
    color: var(--light);
}

.PintArt a:hover{
    color: var(--primary);
}

.User{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

#Info_Pintor{
    text-align: center;
    color: var(--primary);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

#Info_Pintor2{
    text-align: center;
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.BConsultar{
    position: absolute;
    margin-left: 100px;
    margin-top: 30px;;
    width: 180px;
    height: 40px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    border: 0;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    background: transparent;
    color: var(--light);
    border-top: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
    transition: .3s;
}

.BConsultar:hover{
    background: var(--primary);
    color: var(--light);
    border: 2px solid var(--primary);
    box-shadow: 0px 0px 10px var(--primary);
}

.BConsultar2{
    position: absolute;
    margin-left: 100px;
    margin-top: 30px;;
    width: 180px;
    height: 40px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    border: 0;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    background: transparent;
    color: var(--light);
    border-top: 3px solid var(--light);
    border-bottom: 3px solid var(--light);
    box-shadow: 0px 0px 5px var( --tranp);
    transition: .3s;
}

.BConsultar2:hover{
    background: var(--light);
    color: var(--dark);
    border: 2px solid var(--light);
    box-shadow: 0px 0px 10px var(--light);
}

@media (max-width: 100px){
    #Conteudo{
        display: none;
    }
}

#divVermais{
    text-align: center;
    position: relative;
    display: inline-grid;
    top: 50%;
    left: 50%;
    transform: translate(-50px, -50px);
}

.Recarregar{
    color: var(--light);
    font-family: 'Calibri', sans-serif;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}
.Recarregar:hover{
    color: var(--secundary);
}

/* ----------------------Desenvolvedores---------------------- */

#desenvolvedores{
    margin-top: 20px;
    width: 100%;
    background-image: linear-gradient(0deg, var(--primary2) 0%, var(--tertiary) 100%);
    border: none;
    border-top: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
    box-shadow: 0px 0px 15px var(--primary);
    border-radius: 33px;
    text-align: center;
}

#desig{
    width: 350px;
    display: inline-block;
    margin: 20px;
    background-image: linear-gradient(360deg, var(--tranp) 0%, var(--dark) 100%);
    border: 0;
    border-top: 4px solid var(--primary);
    border-bottom: 4px solid var(--primary);
    border-radius: 33px;
    transition: .3s;
}

#desig:hover{
    border-top: 4px solid var(--secundary);
    border-bottom: 4px solid var(--secundary);    
}


.img-P{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    background: var(--tranp);
    border: 0;
    border-radius: 100%;
    transition: .3s;
}

.img-P:hover{
    opacity: .7;
    transform: scale(1.5);
}

#desenvolvedores h2{
    margin: 20px;
    background-image: linear-gradient(to top, var(--secundary), var(--primary));
    -webkit-background-clip: text;
    color: transparent;  
    font-size: 50px;
    font-family: 'Calibri', sans-serif;
}

#desenvolvedores h3{
    margin-top: 20px;
    font-size: 30px;
    background-image: linear-gradient(to top, var(--secundary), var(--primary));
    -webkit-background-clip: text;
    color: transparent;  
    font-family: 'Calibri', sans-serif;
}

#desenvolvedores p{
    color: var(--secundary);
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.social-media{
    margin-bottom: 20px;
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Redes{
    justify-content: space-around;
    margin: 20px;
    font-size: 3rem;
    color: var(--light);  
    width: 5rem;
    transition: .3s;
}

.I:hover{
    background-image: linear-gradient(to top, #FF1493, #8A2BE2);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.T:hover{
    color: #00BFFF;
    transform: scale(1.40);
}

.G:hover{
    background-image: linear-gradient(to top, var(--secundary), var(--primary));
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}