*{
    margin: 0;
    padding: 0;
} 

body{
    height: 100vh;
	background-image: linear-gradient(45deg, var(--corD2) 0%, var(--corD) 100%);
}

/* formulário */
.card{
    background: var(--tranp);
    border: 0;
    border-top: 3px solid var(--corS);
    border-bottom: 3px solid var(--corS);
    border-radius: 33px;
    width: 400px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;      
}

/* Para centralizar a Icon e o Nome Login*/
.card-top{
    text-align: center;
}

/* Icon do formulário*/
.User{
    position: relative;
    margin-bottom: 20px;
    font-size: 80px;
    background-image: linear-gradient(to top right, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
}

/* Texto Login Admin */
.login{
    font-family: 'Gugi', cursive;
    background-image: linear-gradient(to top right, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    margin-left: 5px;
    letter-spacing: 5px;
}

/* mudar a cor dos inputs */
input::placeholder {
    color: var(--corP);
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

/* Campo de texto Email e Senha*/
.Inputs{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    margin: 20px auto;
    text-align: center;
    height: 38px;
    width: 320px;
    outline: none;
    background: var(--corD2);
    color: var(--corS);
    border: none;
    border-radius: 20px;
    border-bottom: 3px solid var(--corP);
    box-sizing: border-box;
    transition: .3s;
}

/* Animação de clicar nos campos focus*/
.Inputs:focus{
    width: 100%;
    border-top: 1px solid var(--corS);
    border-bottom: 1px solid var(--corS);
    border-left: 5px solid var(--corS);
    border-right: 5px solid var(--corS);
}

/* Modificação do botão enviar*/
#entrar{
    width: 100px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: 0;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    background: var(--tranp);
    color: var(--corP);
    border: 2px solid var(--tranp);
    box-shadow: 0px 0px 5px var(--tranp);
    transition: .3s;                     
}

/* Animação do botão quando passar o mause*/
#entrar:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

/* cadastrar */

.card-group p{
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
	color: var(--corL);
}

.card-group a{
    font-family: 'Josefin Sans', sans-serif;
	color: var(--corP);
    transition: .7s;
}
.card-group a:hover{
	color: var(--corS);
}