*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100%;
    background: var(--dark);
}

.espaço{    
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 1px;
    border-radius: 50px;
	background-image: linear-gradient(to left, var(--primary), var(--secundary));
    border: 0;
    border-radius: 20px;
}

.container{
    margin-top: 3.7%;
}

#Cont-Master{
    margin-top: 100px;
}

#Icon_Pontinhos{
    cursor: pointer;
    position: absolute;
    right: 20px;
    font-size: 40px;
    color: var(--secundary);
}
#Icon_Pontinhos:hover{
    color: var(--primary);
}

#menu_btns{
    margin-top: 20px;
    display: inline-flex;
}

#btn_Excluir{
    font-family: 'Calibri', sans-serif;
    height: 40px;
    width: 120px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    background: var(--tranp);
    color: #dc3545;
    border-top: 3px solid #dc3545;
    border-bottom: 3px solid #dc3545;
    transition: .3s; 
}

#btn_Excluir:hover{
    background: #dc3545;
    color: var(--light);
    box-shadow: 0 0 12px #dc3545;
}

.Pint_Completa{
    width: 100%;
    display: inline-flex;
}

.Fundo-Pint{
    margin-left: 20px;
    margin-right: 20px;
    width: 50%;
}


.IconG{
    font-size: 20px;
    margin-right: 10px;
}

.IconE{
    font-size: 20px;
    margin-left: 10px;}

.Icon{
    font-size: 50px;
    color: var(--secundary);
}

.Fundo-Desc{
    width: 600px;
    height: 100%;
    border-radius: 20px;
    margin: 20px auto;
    background-image: linear-gradient(315deg, var(--primary3) 0%, var(--dark) 100%);
    border: 4px solid var(--primary);
    box-shadow: 0 0 20px var(--primary);
}

.margin{
    margin: 50px;
}

.Nome-Pint{
    font-size: 45px;
    font-family: 'Calibri', sans-serif;
	background-image: linear-gradient(to top, var(--secundary), var(--primary));
  	-webkit-background-clip: text;
    color: transparent;
}

.Desc-Pint{
    margin-top: 10px;
    width: 500px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: var(--light);
}



/* ------------------------------------Publicar---------------------------------- */

#MenuPublicar{
    width: 100%;;
    margin-top: 30px;
    margin-top: 130px;
    text-align: center;
    border: 0;
    border-radius: 20px;
    border-top: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
}

#MenuPublicar h2{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 50px;
    font-family: 'Calibri', sans-serif;
	background-image: linear-gradient(to bottom, var(--secundary), var(--primary));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
}

#MenuSepara{
    display: inline-flex;
}

input::placeholder{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--light);
}

textarea::placeholder{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--light);
}

#MS-1, #MS-2{
    margin: 20px auto;
    width: 50%;
}

#MS-2{
    display: grid;
    justify-content: space-around;
    align-items: center;
}

#inputP_autor{
    display: none;
}

.InputPublic{
    height: 40px;
    width: 400px;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    outline: none;
    background: var(--tranp);
    color: var(--secundary);
    border: none;
    border-radius: 8px;
    border-bottom: 2px solid var(--secundary);
    box-sizing: border-box;
    transition: .3s;
}
.InputPublic:focus{
    border-bottom: 2px solid var(--primary);
    box-shadow: 0 2px 5px var(--primary);
}

textarea#InputPublicD {
    height: auto;
}

#InputPublicD{
    margin-top: 30px;
    width: 500px;
    font-size: 20px;
    height: 34px;
    padding: 6px 12px;
    font-size: 21px;
    outline: none;
    background: var(--tranp);
    color: var(--secundary);
    border: none;
    border-radius: 8px;
    border-top: 2px solid var(--secundary);
    border-bottom: 2px solid var(--secundary);
    box-sizing: border-box;
    transition: .3s;
}
#InputPublicD:focus{
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    box-shadow: 0 2px 5px var(--primary);
}

#btn-publicar{    
    margin-bottom: 20px;
}

#divIMG{
    width: 500px;
}

#IMGpublic{
    margin: 20px;
    width: 50%;
    border-radius: 20px;
    border-top: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
    transition: .3s;
}

#IMGpublic:hover{
    border-top: 3px solid var(--secundary);
    border-bottom: 3px solid var(--secundary);
}

#SelectIMG{
    display: none;
}

#Select_img_public{
    padding: 6px 25px;
    cursor: pointer;
    font-size: 20px;   
    font-family: 'Josefin Sans', sans-serif; 
    background: var(--tranp);
    color: var(--light);
    border: none;
    border-top: 3px solid var(--light);
    border-bottom: 3px solid var(--light);
    border-radius: 8px;
    transition: .3s;
}

#Select_img_public:hover{
    background: var(--light);
    color: var(--corD);
    border-top: 3px solid var(--light);
    border-bottom: 3px solid var(--light);
}

/* ------------------------------------Editar------------------------------------ */

.Menu_Editar{
    margin-left: 50px;
}

.Menu_Editar h2{
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Calibri', sans-serif;
	background-image: linear-gradient(to bottom, var(--secundary), var(--primary));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
}

#TrocarIMG{
    display: none;
}

.Editar input::placeholder{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--light);
}

.InputAlt{
    height: 40px;
    width: 320px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    display: block;
    margin: 30px auto;
    text-align: center;
    outline: none;
    background: var(--tranp);
    color: var(--secundary);
    border: none;
    border-radius: 8px;
    border-bottom: 2px solid var(--secundary);
    box-sizing: border-box;
    transition: .3s;
}
.InputAlt:focus{
    width: 400px;
    border-bottom: 2px solid var(--primary);
    box-shadow: 0 2px 5px var(--primary);
}

#InputAltD{
    width: 400px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 20px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;
    resize: none;
    justify-content: space-around;
    background: var(--tranp);
    color: var(--secundary);
    border: none;
    border-radius: 8px;
    border-top: 2px solid var(--secundary);
    border-bottom: 2px solid var(--secundary);
    box-sizing: border-box;
    transition: .3s;
}
#InputAltD:focus{
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    box-shadow: 0 2px 5px var(--primary);
}

#SelectIMG0{
    display: none;
}

#BTN-IN{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.btn-ST{
    padding: 5px 25px;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 24px;
    background: var(--tranp);
    color: var(--secundary);
    border: 2px solid var(--tranp);
    box-shadow: 0px 0px 5px var(--tranp);
    transition: .3s;
}

.btn-ST:hover{
    background: var(--secundary);
    color: var(--corD);
    border: 2px solid var(--secundary);
    box-shadow: 0px 0px 10px var(--secundary);
}

.btn-SP{
    width: 180px;
    height: 40px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: none;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    background: var(--tranp);
    color: var(--light);
    border-bottom: 2px solid var(--light);
    box-shadow: 0px 0px 5px var(--tranp);
    transition: .3s;  
}

.btn-SP:hover{
    background: var(--light);
    color: var(--corD);
    border-bottom: 2px solid var(--light);
    box-shadow: 0px 0px 10px var(--light);
}

.InfoP{
    padding: 30px;
    border-radius: 30px;
    border: 2px solid  var(--secundary);
    box-shadow: 0px 0px 10px var(--secundary);
}

.ContAdmin{
    border-radius: 30px;
    border: 3px solid  var(--primary);
    box-shadow: 0px 0px 10px var(--primary);
}

#AdminForm{
    margin: 20px;
    display: flex;
}

#divIMGAdmin{
    width: 20%;
    height: 20%;
}

.Foto-Admin{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border-top: 5px solid var(--primary);
    border-left: 3px solid var(--primary); 
    animation: rotação .3s;
}

.Info-Admin{
    display: inline-flex;
    width: 100%;
    margin-left: 100px;
    border-radius: 12px;
    background-image: linear-gradient(315deg, var(--tranp) 0%, var(--primary3) 100%);
    border: 3px solid var(--primary);
    box-shadow: 0 0 20px var(--primary);
}

#btn_editP{
    position: absolute;
    right: 40px;
    margin-top: 20px;
    width: 250px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Calibri', sans-serif;
    display: inline-flex;
    text-transform: uppercase;
    letter-spacing: 5px;
    justify-content: center;
    align-items: center;
    background: var(--dark);
    color: var(--light2);
    border-bottom: 3px solid var(--primary);
    border-radius: 12px;
    box-shadow: 0px 0px 5px var(--primary);
    transition: .3s;
}

#btn_editP:hover{
    background: var(--primary);
    color: var(--light);
    box-shadow: 0px 0px 12px var(--primary);
}

#Nome-Admin{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 35px;
    font-family: 'Calibri', sans-serif;
	background-image: linear-gradient(to top, var(--secundary), var(--primary));
  	-webkit-background-clip: text;
    color: transparent;
    animation: pulse 2s ;
    animation: rotação .3s;
}

#Desc-Admin{
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: var(--light);
    animation: rotação .3s;
}

#div_link{
    display: flex;
    margin: 20px;
}

.TextE{
    margin: 50px;
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 22px;
    text-align: center;
    color: var(--light);
}


#btn-Adicionar{
    width: 200px;
    height: 35px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Calibri', sans-serif;
    display: inline-flex;
    text-transform: uppercase;
    letter-spacing: 5px;
    justify-content: center;
    align-items: center;
    background: var(--dark);
    color: var(--light2);
    border-bottom: 3px solid var(--primary);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--primary);
    transition: .3s;
}

#btn-Adicionar:hover{
    background: var(--primary);
    color: var(--light);
    box-shadow: 0px 0px 12px var(--primary);
}

.Redes{
    justify-content: space-around;
    cursor: pointer;
    margin-top: 50px;
    margin: 30px;
    font-size: 3rem;
    background: transparent;
    color: var(--light);
    width: 5rem;
}

.E{
    color: var(--light);
    transition: .3s;
}
.E:hover{
	background-image: linear-gradient(to top, var(--secundary), var(--primary));
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.W{
    color: var(--light);
    transition: .3s;
}
.W:hover{
	background-image: linear-gradient(to top, #00BB2D, #00ff00);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);    
}

.F{
    background: var(--tramp);
    color: var(--light);
    border-radius: 50px;
    transition: .3s;
}
.F:hover{
    border-radius: 50px;
	background-image: linear-gradient(to top, #0051ff, #0066ff);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.I{
    color: var(--light);
    transition: .3s;
}
.I:hover{
    background-image: linear-gradient(to top, #FF1493, #8A2BE2);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.T{
    color: var(--light);
    transition: .3s;
}
.T:hover{
    color: #00BFFF;
    transform: scale(1.40);
}

@media (max-width: 700px){
    .Logo{
        margin: 0;
    }
    .contContato{
        margin-top: 20px;
        width: 450px;
    }
    .Redes{
        border: None;
        font-size: 35px;
    }
}

/* Div das Pinturas */

.Fundo_Card{
	background-image: linear-gradient(to bottom, var(--tranp), var(--light));
    border-radius: 8px;
    border-top: 3px solid var(--secundary);
    border-bottom: 3px solid var(--secundary);
}

.Pinturas{
    width: 100%;
    margin: 20px auto;
    border-radius: 20px;
    border-top: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary); 
}

.Pinturas:hover{
    opacity: .7;
    border-top: 3px solid var(--secundary);
    border-bottom: 3px solid var(--secundary);
}

/* msg de erro */

#msg_true{
  margin: 30px;
  width: 500px;
  height: 80px;
  display: inline-block;
  background: var(--tranp);
  border-radius: 12px;
  border-left: 4px solid rgb(0, 255, 0);
  border-right: 4px solid rgb(0, 255, 0);
}

#msg_true h1{  
  color: rgb(0, 255, 0);
  font-size: 30px;
  font-family: 'Calibri', sans-serif; 
  text-transform: uppercase;
  margin: 20px;
}

#msg_false{
  margin: 30px;
  width: 500px;
  height: 80px;
  display: inline-block;
  background: var(--tranp);
  border-radius: 12px;
  border-left: 4px solid red;
  border-right: 4px solid red;
}

#msg_false h1{  
  color: red;
  font-size: 30px;
  font-family: 'Calibri', sans-serif; 
  text-transform: uppercase;
  margin: 20px;
}

.icon{
  font-size: 40px;
}

#Div_Erro{
    background: var(--tranp);
}
