*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100%;
	background-image: linear-gradient(45deg, var(--corD2) 0%, var(--tranp) 100%);
}

.Menu{
    position: fixed;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Calibri', sans-serif;
	background-image: linear-gradient(to top, var(--tranp), var(--corD2));
    border-radius: 10px;
    border: 2px solid var(--corS);
    box-shadow: 0px 0px 15px var(--corS);
}

.Logo{
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
    font-family: 'Calibri', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: .3s;
}

.Logo:hover{
    opacity: 0.7;
}

.btn-menu{
    font-size: 20px;
    width: 200px;
    height: 32px;
    cursor: pointer;
    font-family: 'Calibri', sans-serif;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 5px;
    justify-content: center;
    align-items: center;
    background: none;
    color: var(--corP);
    border: 2px solid var(--corP);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--corP);
    transition: .4s;
}

.btn-menu:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

#container{
    padding-top: 50px;
    border-radius: 10px;
    border: 2px solid var(--corS);
}

#Cont-Master{
    margin-top: 100px;
}

.Cont{
    margin-top: 50px;
    width: 100%;
    display: inline-flex;
	background-image: linear-gradient(270deg, var(--corS) 0%, var(--corAS) 100%);
    border-radius: 20px;
}

.Fundo-Pint{
    margin: 40px;
}

.data_public{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--corL);
}

.IconG{
    font-size: 20px;
    margin-right: 10px;
}

.Icon{
    font-size: 50px;
    color: var(--corP);
}

.Pintura{
    width: 100%;
    border-radius: 20px;
    border-top: 3px solid var(--corP);
    border-bottom: 3px solid var(--corP);
}

.NomeT{
    margin-bottom: 20px;
    font-size: 35px;
    font-family: 'Calibri', sans-serif;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
}

.Fundo-Desc{
    margin: 20px;
}

.fundo_Fpintura{
    width: 500px;
}

.Nome-Pint{
    font-size: 40px;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
    font-family: 'Calibri', sans-serif;
}

.Desc-Pint{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: var(--corL);
}

#AdminForm{
	background-image: linear-gradient(270deg, var(--corS) 0%, var(--corAS) 100%);
    margin-top: 20px;
    display: flex;
    padding: 20px;
    border-radius: 20px;
    border-top: 3px solid var(--corS);
    border-bottom: 3px solid var(--corS); 
}

#DivFP{
    width: 20%;
}

#Foto-Admin{
    width: 220px;
    height: 220px;
    margin-left: 20px;
    border-radius: 50%;
    border-top: 5px solid var(--corS);
    border-left: 3px solid var(--corS); 
    animation: pulse 2s ;
    animation: rotação .3s;
}

#Info_Admin{
    width: 100%;
    margin-left: 20px;
    border: 0;
    border-radius: 20px;
}

#Nome_Usuario{
    margin: 20px;
    font-family: 'Calibri', sans-serif;
    font-size: 50px;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
    animation: pulse 2s ;
    animation: rotação .3s;
}

#Desc_Usuario{
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 30px;
    color: var(--corL);
    animation: pulse 2s ;
    animation: rotação .3s;
}

.TextE{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 20px;
    text-align: center;
    color: var(--corL);
}

#Redes{
    margin-bottom: 20px;
}

.Redes{
    justify-content: space-around;
    cursor: pointer;
    margin-top: 50px;
    margin: 30px;
    font-size: 3rem;
    background: transparent;
    color: var(--corL);
    width: 5rem;
}

.E{
    color: var(--corL);
    transition: .3s;
}
.E:hover{
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.W{
    color: var(--corL);
    transition: .3s;
}
.W:hover{
	background-image: linear-gradient(to top, #007200, #00ff00);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);    
}

.F{
    background: var(--tramp);
    color: var(--corL);
    border-radius: 50px;
    transition: .3s;
}
.F:hover{
    border-radius: 50px;
	background-image: linear-gradient(to top, #0051ff, #0066ff);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.I{
    color: var(--corL);
    transition: .3s;
}
.I:hover{
    background-image: linear-gradient(to top, #FF1493, #8A2BE2);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.T{
    color: var(--corL);
    transition: .3s;
}
.T:hover{
    color: #00BFFF;
    transform: scale(1.40);
}

@media (max-width: 700px){
    .Logo{
        margin: 0;
    }
    .contContato{
        margin-top: 20px;
        width: 450px;
    }
    .Redes{
        border: None;
        font-size: 35px;
    }
}