*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: linear-gradient(180deg, var(--tertiary) 0%, var(--primary2) 100%);
    animation: aparecer 1.3s;
}

#Master{
    display: block;
    padding: 80px;
}

#container{
    width: 100%;
    display: inline-flex;
}

.card{
    width: 600px;
    display: inline-block;
    margin: 40px;
    text-align: center;
    background: var(--dark);
    border: 0;
    border-top: 4px solid var(--primary);
    border-bottom: 4px solid var(--primary);
    border-radius: 33px;
    transition: .3s;
}

.card:hover{
    border-top: 4px solid var(--secundary);
    border-bottom: 4px solid var(--secundary);    
}

#T1{
    margin-top: 20px;
    background-image: linear-gradient(to top, var(--secundary), var(--primary));
  	-webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    font-family: 'Calibri', sans-serif;    
}

#T2{
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--light);
    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;    
}

/* ----------------------Desenvolvedores---------------------- */

#desenvolvedores{
    margin-top: 20px;
    width: 100%;
    background-image: linear-gradient(0deg, var(--tertiary) 0%, var(--light2) 100%);
    border: none;
    border-top: 3px solid var(--light2);
    border-bottom: 3px solid var(--light2);
    box-shadow: 0px 0px 15px var(--light2);
    border-radius: 8px;
    text-align: center;
}

#desig{
    width: 350px;
    display: inline-block;
    margin: 20px;
    background-image: linear-gradient(360deg, var(--tertiary) 0%, var(--light2) 100%);
    border: 0;
    border-top: 4px solid var(--primary);
    border-bottom: 4px solid var(--primary);
    border-radius: 33px;
    transition: .3s;
}

#desig:hover{
    border-top: 4px solid var(--secundary);
    border-bottom: 4px solid var(--secundary);    
}


.img-P{
    margin-top: 20px;
    width: 30%;
    background: var(--tranp);
    border: 0;
    border-radius: 100%;
    transition: .3s;
}

.img-P:hover{
    opacity: .7;
    transform: scale(1.5);
}

#desenvolvedores h2{
    margin: 20px;
    background-image: linear-gradient(to top, var(--tertiary), var(--primary));
    -webkit-background-clip: text;
    color: transparent;  
    font-size: 50px;
    font-family: 'Calibri', sans-serif;
}

#desenvolvedores h3{
    margin-top: 20px;
    font-size: 30px;
    background-image: linear-gradient(to bottom, var(--primary), var(--tertiary));
    -webkit-background-clip: text;
    color: transparent;  
    font-family: 'Calibri', sans-serif;
}

#desenvolvedores p{
    color: var(--secundary);
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.social-media{
    margin-bottom: 20px;
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Redes{
    justify-content: space-around;
    margin: 20px;
    font-size: 3rem;
    color: var(--light);  
    width: 5rem;
    transition: .3s;
}

.I:hover{
    background-image: linear-gradient(to top, #FF1493, #8A2BE2);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.T:hover{
    color: #00BFFF;
    transform: scale(1.40);
}

.G:hover{
    background-image: linear-gradient(to top, var(--secundary), var(--primary));
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}
/* ----------------------Desenvolvedores---------------------- */

#desenvolvedores{
    margin-top: 20px;
    width: 100%;
    background-image: linear-gradient(0deg, var(--primary2) 0%, var(--tertiary) 100%);
    border: none;
    border-top: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
    box-shadow: 0px 0px 15px var(--primary);
    border-radius: 33px;
    text-align: center;
}

#desig{
    width: 350px;
    display: inline-block;
    margin: 20px;
    background-image: linear-gradient(360deg, var(--tranp) 0%, var(--dark) 100%);
    border: 0;
    border-top: 4px solid var(--primary);
    border-bottom: 4px solid var(--primary);
    border-radius: 33px;
    transition: .3s;
}

#desig:hover{
    border-top: 4px solid var(--secundary);
    border-bottom: 4px solid var(--secundary);    
}


.img-P{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    background: var(--tranp);
    border: 0;
    border-radius: 100%;
    transition: .3s;
}

.img-P:hover{
    opacity: .7;
    transform: scale(1.5);
}

#desenvolvedores h2{
    margin: 20px;
    background-image: linear-gradient(to top, var(--secundary), var(--primary));
    -webkit-background-clip: text;
    color: transparent;  
    font-size: 50px;
    font-family: 'Calibri', sans-serif;
}

#desenvolvedores h3{
    margin-top: 20px;
    font-size: 30px;
    background-image: linear-gradient(to top, var(--secundary), var(--primary));
    -webkit-background-clip: text;
    color: transparent;  
    font-family: 'Calibri', sans-serif;
}

#desenvolvedores p{
    color: var(--secundary);
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.social-media{
    margin-bottom: 20px;
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Redes{
    justify-content: space-around;
    margin: 20px;
    font-size: 3rem;
    color: var(--light);  
    width: 5rem;
    transition: .3s;
}

.I:hover{
    background-image: linear-gradient(to top, #FF1493, #8A2BE2);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.T:hover{
    color: #00BFFF;
    transform: scale(1.40);
}

.G:hover{
    background-image: linear-gradient(to top, var(--secundary), var(--primary));
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}