body{
    overflow-y: hidden;
    background: var(--dark);
}

.Pint_Completa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form_excluir{
    display: inline-flex;
}

h2{
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--light);
}

#btn_Excluir{
    font-family: 'Calibri', sans-serif;
    height: 40px;
    width: 120px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    background: var(--dark);
    color: var(--light);
    border-bottom: 3px solid #dc3545;
    transition: .3s; 
}

#btn_Excluir:hover{
    background: #dc3545;
    color: var(--light);
    box-shadow: 0 0 12px #dc3545;
}

#btn_cancelar{
    margin-left: 50px;
    width: 200px;
    height: 32px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    background: var(--tranp);
    color: var(--light);
    border-top: 3px solid var(--light);
    border-bottom: 3px solid var(--light);
    border-radius: 8px;
    transition: .3s;  
}

#btn_cancelar:hover{
    background: var(--light);
    box-shadow: 0px 0px 10px var(--light);
    color: var(--dark);
}

.Fundo_Pint{
    margin-top: 30px;
    width: 600px;
}

.Pintura{
    width: 50%;
    border-radius: 20px;
    border-top: 3px solid var(--light2);
    border-bottom: 3px solid var(--light2);
    box-shadow: 0 0 5px var(--light2);
}

.Pintura:hover{
    border-top: 3px solid var(--light);
    border-bottom: 3px solid var(--light);
    box-shadow: 0 0 12px var(--light);
}