* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100%;
    background: var(--corC);
}

.espaço{    
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 1px;
    border-radius: 50px;
    border: 0;
    border-radius: 20px;
}

#btn-sair{
    padding: 8px 20px;
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 8px;
    border: none; 
    background: var(--tranp);
    color: var(--corL);
    border-top: 3px solid var(--corL);
    border-bottom: 3px solid var(--corL);
    transition: .3s;
}

#btn-sair:hover{
    background: var(--corL);
    color: var(--corD);
    box-shadow: 0px 0px 10px var(--corL);
}

/* ----------------------Inicio---------------------- */


#topo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
	background-image: linear-gradient(to bottom, var(--corAS), var(--corC));
    border: 0;
    border-radius: 20px;
    border-top: 3px solid var(--corP);  
    border-bottom: 3px solid var(--corP); 
}

#topo h1{
	background-image: linear-gradient(0deg, var(--corP) 0%, var(--corS)70%);
  	-webkit-background-clip: text;
    color: transparent;
    font-size: 75px;
    font-family: 'Calibri', sans-serif;
    animation: aparecer 5s;
}

.usuario_logado{
    font-size: 70px;
    font-family: 'Calibri', sans-serif;	
    background-image: linear-gradient(320deg, var(--corC) 0%, var(--corL) 100%);
  	-webkit-background-clip: text;
    color: transparent;
    animation: pulse .7s ;
    transition: .3s;
}

.usuario_logado:hover {
    opacity: 0.7;
}

#topo p{
    padding-top: 30px;
    color: var(--corL);
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    animation: rotação 1s;
}

/* ----------------------Pesquisar------------------------ */

#section_pesquisar{
    width: 100%;
    height: 380px;
    margin-bottom: 5px auto;
    background-image: linear-gradient(to bottom, var(--corAS), var(--corC));
    border: 0;
    border-radius: 20px;
    border-top: 3px solid var(--corC2);
    border-bottom: 3px solid var(--corC2); 
}

#div_pesquisar{    
    display: flex;
    margin: 20px;
    margin-top: 60px;
}

#section_pesquisar h1{
	background-image: linear-gradient(0deg, var(--corP) 0%, var(--corS)70%);
  	-webkit-background-clip: text;
    color: transparent;
    font-size: 75px;
    font-family: 'Calibri', sans-serif;
    animation: aparecer 10s;
}

#form_input_procurar{
    align-items: center;
    display: flex;
}

.resultado{
    display: inline-flex;
    margin: 20px;
}

.form-pesquisa{
    display: inline-flex;
    width: 200px;
    margin: 12px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, var(--corD2), var(--tranp));
    border-top: 3px solid var(--corC2);
    border-bottom: 3px solid var(--corC2);
    box-shadow: 0 0 12px var(--corC2);
    transition: .3s;
}

.form-pesquisa:hover{
    border-top: 3px solid var(--corS);
    border-bottom: 3px solid var(--corS);
    box-shadow: 0 0 12px var(--corS);
    animation: rotação .3s;
}

#Div_buscar_img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

#FP_img_busca{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#btn_buscar{
    position: absolute;
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    border: 0;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-radius: 24px;
    background: none;
    color: var(--corP);
    box-shadow: 0px 0px 5px var(--tranp);
    transition: .3s; 
}

#input_procurar{
  width: 260px;
  height: 40px;
  margin: 20px;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  text-align: center;
  border: none;
  border-radius: 8px;
  outline: none;
  background: var(--tranp);
  color: var(--corL);
  border-bottom: 3px solid var(--corAS);
  box-sizing: border-box;
  transition: .3s;
}

#input_procurar:focus{
  border-bottom: 3px solid var(--corS);
  box-shadow: 0 2px 5px var(--corS);
}

#P_nenhum{
    margin: 60px;
    color: var(--corP);
    font-size: 30px;
    font-family: 'Calibri', sans-serif;
    animation: aparecer 2s;
}

/* ----------------------Informações---------------------- */

#info{
    margin-top: 200px;
    width: 100%;
    height: 380px;
    margin-bottom: 5px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
	background-image: linear-gradient(to bottom, var(--corAS), var(--corC));
    border: 0;
    border-radius: 20px;
    border-top: 3px solid var(--corC2);  
    border-bottom: 3px solid var(--corC2);  
}

#info h2{
    font-size: 50px;
    padding-top: 30px;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
	text-transform: uppercase;
    font-family: 'Calibri', sans-serif;
}

.info-P{
    font-size: 30px;
    margin-top: 30px;
    color: var(--corP);
    font-family: 'Josefin Sans', sans-serif;
}

.caixa-help{
    height: 80px;
    width: 850px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--tranp);
    border-radius: 50px;
}

.help{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: var(--corP);
    transition: .3s;
}

.help a{
    color: var(--corL);
    text-decoration: underline;
}

.help a:hover{
    color: var(--corS);
}
/* ----------------------   Pinturaa    ---------------------- */

.imgpp{
    margin: 80px;
}

.pint{
    border-radius: 8px;
    width: 400px;
    border-top: 3px solid var(--corS);  
    border-bottom: 3px solid var(--corS);  
}

.pint:hover{
    border-top: 3px solid var(--corP);  
    border-bottom: 3px solid var(--corP);  
}

.textospp{
    margin: 20px;
}

.Nome_Foto{
    color: var(--corS);
    font-size: 30px;
    font-family: 'Calibri', sans-serif;
}

.Desc_Foto{
    margin-top: 20px;
    font-size: 20px;
    color: var(--corS);
    font-family: 'Josefin Sans', sans-serif;
}

.data_pint{
    font-size: 20px;
    position: relative;
    left: 100px;
    color: var(--corS);
    font-family: 'Josefin Sans', sans-serif;
}

#pinturas{
    margin-top: 200px;
    height: 100%;
    background-image: linear-gradient(270deg, var(--corAS) 0%, var(--corC) 100%);
    border: 0;
    border-radius: 20px;
    border-top: 3px solid var(--corS);  
    border-bottom: 3px solid var(--corS);  
}

#pinturas h2{  
    font-size: 50px;
	background-image: linear-gradient(45deg, var(--corP) 0%, var(--corS) 100%);
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
	letter-spacing: .5em;    
    text-align: center;
    font-family: 'Calibri', sans-serif;
    padding-top: 100px;
}

.itensCad{
    border: 2px solid var(--tranp);
    border-radius: 10px;
    padding: 15px;
}

.itensCad{
    background: var(--corD);
}

.PintArt{
    margin-top: 20px;
}

#Img-Usuario{
    margin-left: 20px;
    width: 80px;
    height: 80px;    
    border: 3px solid var(--corP);
    box-shadow: 0 0 8px var(--corP);
    display: block;
    border-radius: 50%;
}

#Img-Usuario2{
    margin-left: 20px;
    width: 100px;
    height: 100px;    
    border: 2px solid var(--corL);
    box-shadow: 0 0 8px var(--corL);
    display: block;
    border-radius: 50%;
}

.NomeUsuario{
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
    font-family: 'Calibri', sans-serif;
    margin-left: 40px;
    font-size: 40px;
}
.NomeUsuario2{
    color: var(--corL);
    font-family: 'Calibri', sans-serif;
    margin-top: 15px;
    margin-left: 10px;
    float: left;
    font-size: 30px;
}

.InfoPint{
    margin: 300px;
    background: var(--tranp);
    border: 0;
    border-top: 3px solid var(--corP);
    border-bottom: 3px solid var(--corP);
    border-radius: 33px;
    margin-top: 10px;
    align-items: center;
    text-align: center;
    transition: .1s;
}
.InfoPint:hover{
    border-top: 3px solid var(--corS);
    border-bottom: 3px solid var(--corS);
    box-shadow: 0 0 12px var(--corS);
}

.InfoPint2{
    margin: 300px;
    background: var(--tranp);
    border: 0;
    border-top: 3px solid var(--corL);
    border-bottom: 3px solid var(--corL);
    border-radius: 33px;
    margin-top: 10px;
    align-items: center;
    text-align: center;
    transition: .3s;
}
.InfoPint2:hover{
    border-top: 3px solid var(--corL);
    border-bottom: 3px solid var(--corL);
    box-shadow: 0 0 12px var(--corL);
}

.ConteudoInfo-1{
    border-bottom: 3px solid var(--corP);
}

.PintArt h4{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--corP);
    transition: .3s;
}

.PintArt a{
    text-decoration: underline;
    color: var(--corL);
}

.PintArt a:hover{
    color: var(--corS);
}

.User{
    margin-top: 20px;
    display: flex;
}

#Info_Pintor{
    text-align: center;
    color: var(--corP);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

#Info_Pintor2{
    text-align: center;
    color: var(--corL);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.BConsultar{
    width: 100px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: 0;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-radius: 24px;
    background: var(--tranp);
    color: var(--corP);
    border: 2px solid var(--tranp);
    box-shadow: 0px 0px 5px var(--tranp);
    transition: .3s;  
}

.BConsultar:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

.BConsultar2{
    width: 100px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: 0;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-radius: 24px;
    background: var(--tranp);
    color: var(--corL);
    border: 2px solid var(--tranp);
    box-shadow: 0px 0px 5px var(--tranp);
    transition: .3s;  
}

.BConsultar2:hover{
    background: var(--corL);
    color: var(--corD);
    border: 2px solid var(--corL);
    box-shadow: 0px 0px 10px var(--corL);
}

@media (max-width: 100px){
    #Conteudo{
        display: none;
    }
}

/* ----------------------Desenvolvedores---------------------- */

#desenvolvedores{
    margin-top: 20px;
    width: 100%;
    background-image: linear-gradient(0deg, var(--corAS) 0%, var(--corC) 100%);
    border: none;
    border-top: 3px solid var(--corS);
    border-bottom: 3px solid var(--corS);
    box-shadow: 0px 0px 15px var(--corS);
    border-radius: 33px;
    text-align: center;
}

#desig{
    width: 350px;
    display: inline-block;
    margin: 20px;
    background-image: linear-gradient(360deg, var(--corAS) 0%, var(--corC) 100%);
    border: 0;
    border-top: 4px solid var(--corS);
    border-bottom: 4px solid var(--corS);
    border-radius: 33px;
    transition: .3s;
}

#desig:hover{
    border-top: 4px solid var(--corP);
    border-bottom: 4px solid var(--corP);    
}


.img-P{
    margin-top: 20px;
    width: 30%;
    background: var(--tranp);
    border: 0;
    border-radius: 100%;
    transition: .3s;
}

.img-P:hover{
    opacity: .7;
    transform: scale(1.5);
}

#desenvolvedores h2{
    margin: 20px;
    background-image: linear-gradient(to top, var(--corAS), var(--corS));
    -webkit-background-clip: text;
    color: transparent;  
    font-size: 50px;
    font-family: 'Calibri', sans-serif;
}

#desenvolvedores h3{
    margin-top: 20px;
    font-size: 30px;
    background-image: linear-gradient(to bottom, var(--corS), var(--corAS));
    -webkit-background-clip: text;
    color: transparent;  
    font-family: 'Calibri', sans-serif;
}

#desenvolvedores p{
    color: var(--corP);
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.social-media{
    margin-bottom: 20px;
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Redes{
    justify-content: space-around;
    margin: 20px;
    font-size: 3rem;
    color: var(--corL);  
    width: 5rem;
    transition: .3s;
}

.I:hover{
    background-image: linear-gradient(to top, #FF1493, #8A2BE2);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.T:hover{
    color: #00BFFF;
    transform: scale(1.40);
}

.G:hover{
    background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

#divVermais{
    text-align: center;
    position: relative;
    display: inline-grid;
    top: 50%;
    left: 50%;
    transform: translate(-50px, -50px);
}

.Icon_UP{
    display: none;
}

.Recarregar:hover .Icon_UP{
    display: block;
    font-size: 50px;
    color: var(--corP);
}

#CardUser{
    animation: rotação 2s;
}