*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100vh;
    background-image: linear-gradient(to top left, var(--corD), var(--corD2));
}

.espaço{    
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 1px;
    border-radius: 50px;
	background-image: linear-gradient(to left, var(--corP), var(--corS));
    border: 0;
    border-radius: 20px;
}

.Menu{
    position: fixed;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gugi', sans-serif;
	background-image: linear-gradient(to top, var(--tranp), var(--corD2));
    border-radius: 10px;
    border: 2px solid var(--corS);
    box-shadow: 0px 0px 15px var(--corS);
}

.Logo{
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
    font-family: 'Gugi', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: .3s;
}

.Logo:hover{
    opacity: 0.7;
}

.btn-menu{
    width: 200px;
    height: 32px;
    cursor: pointer;
    font-family: 'Gugi', sans-serif;
    display: inline-flex;
    text-transform: uppercase;
    letter-spacing: 5px;
    justify-content: center;
    align-items: center;
    background: none;
    color: var(--corP);
    border: 2px solid var(--corP);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--corP);
    transition: .3s;
}

.btn-menu:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}


.botaoA{    
    margin-left: 20px;
}

#Aparecer{
    width: 280px;
}

.container{
    padding-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px var(--corD);
    background: var(--corD);
}

#Cont-Master{
    margin-top: 100px;
}

.btn-delete{
    margin-top: 20px;  
    margin-left: 50%;
    margin-bottom: 30px;
    width: 200px;
    height: 32px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Gugi', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: none;
    color: var(--corP);
    border: 2px solid var(--corP);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--corP);
    transition: .4s;
}

.btn-edit:hover,.btn-delete:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

.Pint-Completa{
    width: 100%;
    display: inline-flex;
}

.Fundo-Pint{
    margin-left: 20px;
    margin-right: 20px;
    width: 60%;
    height: 100%;
    border-radius: 20px;
    border: 0;
    border-radius: 20px;
    border-top: 3px solid var(--corS);
    border-bottom: 3px solid var(--corS); 
}

.InputP{
    width: 280px;
    height: 40px;
    border: 0;
    text-align: center;
    outline: none;
    margin-top: 20px;
    margin-left: 20px;
    background: var(--tranp);
    color: var(--corP);
    border-radius: 8px;
    border-bottom: 2px solid var(--tranp);
    transition: .3s;
}
.InputP:focus{
    border-bottom: 2px solid var(--corP);
    box-shadow: 0 2px 5px var(--corP);
}

#BtnSP{
    width: 120px;    
    height: 40px;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 30px;
    cursor: pointer;
    border: none;    
    background: var(--tranp);
    color: var(--corL);    
    border-radius: 8px;
    border-bottom: 2px solid var(--corL);
    animation: Pulse 1s infinite;
    transition: .4s;    
}
#BtnSP:hover{
    animation: none;
    background: var(--corL);
    color: var(--corD);
    box-shadow: 0px 0px 8px var(--corL);
}

.IconG{
    font-size: 20px;
    margin-right: 10px;
}

.IconE{
    font-size: 20px;
    margin-left: 10px;}

.Icon{
    font-size: 50px;
    color: var(--corP);
}

.Pintura{
    width: 100%;
    border-radius: 20px;
}

.Fundo-Desc{
    margin-left: 20px;
}

.Nome-Pint{
    font-size: 35px;
    font-family: 'Gugi', sans-serif;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
}

.Desc-Pint{
    margin-top: 10px;
    width: 500px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: var(--corL);
}

/* ------------------------------------Editar------------------------------------ */

.Editar{
    width: 100%;
    height: 380px;
    margin-top: 30px;
    text-align: center;
	background-image: linear-gradient(to bottom, var(--tranp), var(--corD2));
    border: 0;
    border-radius: 20px;
    border-top: 3px solid var(--corS);
    border-bottom: 3px solid var(--corS);
}

.Editar h2{
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Gugi', sans-serif;
	background-image: linear-gradient(to bottom, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
}

.Editar input::placeholder{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--corL);
}

#InputAlt{
    width: 320px;
    height: 40px;
    border: 0;
    text-align: center;
    outline: none;
    margin-top: 20px;
    margin-left: 20px;
    background: var(--tranp);
    color: var(--corP);
    border-radius: 8px;
    border-bottom: 2px solid var(--corL);
    transition: .3s;
}
#InputAlt:focus{
    width: 400px;
    border-bottom: 2px solid var(--corL);
    box-shadow: 0 2px 5px var(--corL);
}

.InputAlt{
    height: 40px;
    width: 320px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    display: block;
    margin: 30px auto;
    text-align: center;
    outline: none;
    background: var(--tranp);
    color: var(--corP);
    border: none;
    border-radius: 20px;
    border-bottom: 2px solid var(--corP);
    box-sizing: border-box;
    transition: .3s;
}
.InputAlt:focus{
    width: 400px;
    border-bottom: 2px solid var(--corP);
    box-shadow: 0 2px 5px var(--corP);
}

#SelectIMG0{
    display: none;
}

#BTN-IN{
    display: flex;
    justify-content: space-around;
}

.SelectP{
    padding: 5px 25px;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 24px;
    background: var(--tranp);
    color: var(--corP);
    border: 2px solid var(--tranp);
    box-shadow: 0px 0px 5px var(--tranp);
    transition: .3s;
}

.SelectP:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

.btn-SP{
    width: 180px;
    height: 40px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: none;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    background: var(--tranp);
    color: var(--corL);
    border-bottom: 2px solid var(--corL);
    box-shadow: 0px 0px 5px var(--tranp);
    animation: Pulse 1.2s infinite;
    transition: .3s;  
}

.btn-SP:hover{
    animation: none;
    background: var(--corL);
    color: var(--corD);
    border-bottom: 2px solid var(--corD);
    box-shadow: 0px 0px 10px var(--corL);
}

.InfoP{
    padding: 30px;
    border-radius: 30px;
    border: 2px solid  var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

.ContAdmin{
    padding: 30px;
    border-radius: 30px;
    border: 2px solid  var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

#AdminForm{
    display: flex;
}

.Foto-Admin{
    width: 20%;
    border-radius: 50%;
    border: 2px solid var(--corL);
    box-shadow: 0px 0px 12px var(--corL); 
}

#imgPerfil{
    display: none;
}

.AlteraImg-Perfil{
    position: absolute;
    width: 200px;
    height: 40px;    
    margin-top: 20%;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;   
    display: flex;
    justify-content: center;
    align-items: center;       
    border: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 24px;
    background: var(--tranp);
    color: var(--corP);
    border: 2px solid var(--tranp);
    box-shadow: 0px 0px 5px var(--tranp);
    transition: .3s;
}

.AlteraImg-Perfil:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

.Info-Admin{
    display: inline-flex;
    width: 100%;
    margin-left: 100px;
	background-image: linear-gradient(to top, var(--tranp), var(--corD2));
    border: 0;
    border-radius: 20px;
    border-top: 3px solid var(--corS);
    border-bottom: 3px solid var(--corS); 
}

.edp{
    position: absolute;
    right: 40px;
    margin-top: 20px;
}

#Nome-Admin{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 35px;
    font-family: 'Gugi', sans-serif;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
}

#Desc-Admin{
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: var(--corL);
}

.TextE{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 20px;
    text-align: center;
    color: var(--corL);
}

.Redes{
    justify-content: space-around;
    cursor: pointer;
    margin-top: 50px;
    margin: 30px;
    font-size: 3rem;
    background: transparent;
    color: var(--corL);
    width: 5rem;
}

.E{
    color: var(--corL);
    transition: .3s;
}
.E:hover{
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.W{
    color: var(--corL);
    transition: .3s;
}
.W:hover{
	background-image: linear-gradient(to top, #007200, #00ff00);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);    
}

.F{
    background: var(--tramp);
    color: var(--corL);
    border-radius: 50px;
    border: 1px solid var(--corD);
    box-shadow: 0px 0px 8px var(--tranp);
    transition: .3s;
}
.F:hover{
    border-radius: 50px;
	background-image: linear-gradient(to top, #0051ff, #0066ff);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.I{
    color: var(--corL);
    transition: .3s;
}
.I:hover{
    background-image: linear-gradient(to top, #FF1493, #8A2BE2);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.T{
    color: var(--corL);
    transition: .3s;
}
.T:hover{
    color: #00BFFF;
    transform: scale(1.40);
}

@media (max-width: 700px){
    .Logo{
        margin: 0;
    }
    .contContato{
        margin-top: 20px;
        width: 450px;
    }
    .Redes{
        border: None;
        font-size: 35px;
    }
}

@keyframes Pulse{
    from {
        transform: scale(.7);
        background: var(--corL);
        color: var(--corD);
        border: 2px solid var(--corL);
        box-shadow: 0px 0px 10px var(--corL);
    }
}