*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100vh;
    background-image: linear-gradient(to top left, var(--corD), var(--corD2));
}

.Menu{
    position: fixed;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gugi', sans-serif;
	background: var(--tranp);
    border-radius: 10px;
    border: 2px solid var(--corS);
    box-shadow: 0px 0px 15px var(--corS);
}

.Logo{
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
    font-family: 'Gugi', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: .3s;
}

.Logo:hover{
    opacity: 0.7;
}

.btn-menu{
    width: 200px;
    height: 32px;
    cursor: pointer;
    font-family: 'Gugi', sans-serif;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 5px;
    justify-content: center;
    align-items: center;
    background: none;
    color: var(--corP);
    border: 2px solid var(--corP);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--corP);
    transition: .4s;
}

.btn-menu:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

.container{
    padding-top: 50px;
    border-radius: 10px;
    border: 2px solid var(--corS);
    background: var(--corD);
}

#Cont-Master{
    margin-top: 100px;
}

#btn-edit,#btn-delete,
#btn-edit2,#btn-delete2,
#btn-edit3,#btn-delete3{
    margin-top: 20px;  
    margin-left: 50%;
    margin-bottom: 30px;
    width: 200px;
    height: 32px;
    cursor: pointer;
    font-family: 'Gugi', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: none;
    color: var(--corP);
    border: 2px solid var(--corP);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--corP);
    transition: .4s;
}

#btn-edit:hover,#btn-delete:hover,
#btn-edit2:hover,#btn-delete2:hover,
#btn-edit3:hover,#btn-delete3:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

.Cont{
    margin-top: 50px;
    width: 80%;
    display: inline-flex;
}

.Fundo-Pint{
    margin-left: 20px;
    width: 50%;
    height: 100%;
    border-radius: 20px;
    border: 0;
    border-radius: 20px;
    border-top: 3px solid var(--corS);
    border-bottom: 3px solid var(--corS); 
}

.IconG{
    font-size: 20px;
    margin-right: 10px;
}

.Icon{
    font-size: 50px;
    color: var(--corP);
}

.Pintura,.Pintura2,.Pintura3{
    width: 100%;
    border-radius: 20px;
}

.NomeT{
    margin-bottom: 20px;
    font-size: 35px;
    font-family: 'Gugi', sans-serif;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
}

.Fundo-Desc{
    margin-left: 20px;
}

.Nome-Pint{
    font-size: 35px;
    font-family: 'Gugi', sans-serif;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
}

.Desc-Pint{
    margin-top: 10px;
    width: 500px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: var(--corL);
}

.ContAdmin{
    padding: 30px;
    border-radius: 30px;
    border: 0;
    border-top: 2px solid var(--corP);
    border-bottom: 2px solid var(--corP);
}

#AdminForm{
    display: flex;
}

#Foto-Admin-U{
    width: 100%;
    border-radius: 50%;
    border-top: 5px solid var(--corS);
    border-left: 3px solid var(--corS); 
}

.Info-Admin{
    width: 100%;
    margin-left: 100px;
	background-image: linear-gradient(to top, var(--tranp), var(--corD2));
    border: 0;
    border-radius: 20px;
    border-top: 3px solid var(--corS);
    border-bottom: 3px solid var(--corS); 
}

#Nome-Admin-U{
    width: 20%;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 35px;
    font-family: 'Gugi', sans-serif;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
}

#Desc-Admin-U{
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: var(--corL);
}

.TextE{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 20px;
    text-align: center;
    color: var(--corL);
}

.Redes{
    justify-content: space-around;
    cursor: pointer;
    margin-top: 50px;
    margin: 30px;
    font-size: 3rem;
    background: transparent;
    color: var(--corL);
    width: 5rem;
}

.E{
    color: var(--corL);
    transition: .3s;
}
.E:hover{
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.W{
    color: var(--corL);
    transition: .3s;
}
.W:hover{
	background-image: linear-gradient(to top, #007200, #00ff00);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);    
}

.F{
    background: var(--tramp);
    color: var(--corL);
    border-radius: 50px;
    border: 1px solid var(--corD);
    box-shadow: 0px 0px 8px var(--tranp);
    transition: .3s;
}
.F:hover{
    border-radius: 50px;
	background-image: linear-gradient(to top, #0051ff, #0066ff);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.I{
    color: var(--corL);
    transition: .3s;
}
.I:hover{
    background-image: linear-gradient(to top, #FF1493, #8A2BE2);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.T{
    color: var(--corL);
    transition: .3s;
}
.T:hover{
    color: #00BFFF;
    transform: scale(1.40);
}

@media (max-width: 700px){
    .Logo{
        margin: 0;
    }
    .contContato{
        margin-top: 20px;
        width: 450px;
    }
    .Redes{
        border: None;
        font-size: 35px;
    }
}