#CardUser{
    border: 0;
    border-radius: 8px;
    position: fixed;
    justify-content: center;
    align-items: center;  
    top: 20%;
    right:0px;  
    width: 220px; 
    background-image: linear-gradient(to bottom, var(--corD2), var(--tranp));
    border-top: 3px solid var(--corC2);
    border-bottom: 3px solid var(--corC2);
    box-shadow: 0 0 12px var(--corC2);
    transition: .3s;
}


#CardUser:hover{ 
    border-top: 3px solid var(--corS);
    border-bottom: 3px solid var(--corS);
    box-shadow: 0 0 12px var(--corS);
}

#Img-UsuarioL{
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    border: 3px solid var(--corL);
    box-shadow: 0 0 12px var(--corL);
    transition: .3s;
}

#Img-UsuarioL:hover{
    box-shadow: 0 0 30px var(--corL);
    opacity: 0.7;
}

#Img_UserL{
    display: flex;
}

#Nome_User{
    color: var(--corL);
    font-family: 'Calibri', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    float: left;
    font-size: 20px;
}

.btn_menuH{
    margin: 20px;
    font-size: 35px;
    color: var(--corL);
    transition: .5s;
}

.btn_menuH:hover{
    color: var(--corS);
}

#menu_usuario{
    display: none;
    right: -50px;
    position: relative;
}

.menuU-link{
    color: var(--corL);
    font-family: 'Calibri', sans-serif;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.menuU-link:hover{
    color: var(--corS);
}