* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background: linear-gradient(to bottom, var(--corL), var(--corS));
}

.logo {
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
    font-family: 'Gugi', cursive;
    text-decoration: none;
    transition: 0.3s;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.logo:hover {
    opacity: 0.7;
}
  
nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    font-family: 'Gugi', cursive;
    background: var(--corD2);
    border-radius: 10px;
    border: 1px solid var(--corS);
    box-shadow: 0px 0px 15px var(--corS);
}

.menu-link{
    padding: 6px 25px;
    text-decoration: none;
    transition: .3s;
    background: none;
    color: var(--corP);
    border: 2px solid var(--corP);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--corP);
}

.menu-link:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}
  
#login{
    text-decoration: none;
    padding: 6px 25px;
    transition: .3s;
    background: none;
    color: var(--corP);
    border: 2px solid var(--corP);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--corP);
    animation: span-login 2s infinite;
}

#login:hover{
    text-decoration: none;
    animation: none;
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

@keyframes span-login{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        
    }
}

.nav-list {
    list-style: none;
    display: flex;
  }
  
.nav-list li {
    letter-spacing: 2px;
    margin-left: 42px;
  }
  
.mobile-menu {
    display: none;
    cursor: pointer;
  }
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--corP);
    margin: 8px;
    transition: 0.3s;
}
  
@media (max-width: 700px) {
    .menu-link{
        align-items: center;
    }
    body {
      overflow-x: hidden; 
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vh;
        height: 92vh;
        background: var(--corD);
        border: 2px solid #000000;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3 ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
}
  
.nav-list.active {
    transform: translateX(0);
}
  
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2 {
    opacity: 0;
}
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* ----------------------Inicio---------------------- */

#topo{
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--corD);
    text-align: center;
}

#topo h1{
    color: var(--corD);
    font-size: 70px;
    font-family: 'Gugi', cursive;
    animation: Mover 2s forwards;
}

#topo p{
    padding-top: 100px;
    color: var(--corD);
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    animation: Mover 4s forwards;
}

/* ----------------------Informações---------------------- */

#info{
    margin-top: 200px;
    width: 100%;
    height: 320px;
    margin-bottom: 5px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--corD);
    border-radius: 25px;
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 15px var(--corS);
}

#info h2{
    font-size: 30px;
    padding-top: 30px;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
	letter-spacing: .5em;
    font-family: 'Josefin Sans', sans-serif;
}

#info p{
    padding-top: 30px;
    color: var(--corP);
    font-family: 'Josefin Sans', sans-serif;
}

/* ----------------------Pintura---------------------- */

#pinturas{
    margin-top: 200px;
    height: 100%;
    border-radius: 25px;
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 15px var(--corS);
    background: var(--corD);
}

#pinturas h2{  
    font-size: 50px;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
	letter-spacing: .5em;    
    text-align: center;
    font-family: 'Gugi', cursive;
    padding-top: 100px;
}

.espaço{
    padding: 50px;
}

.PintArt{
    display: inline-block;
    margin-left: 60px;
    width: 350px;
    padding-top: 70px;
}

#Img-Usuario{
    width: 80px;
}

#Img-Usuario:hover{
    opacity: 0.7;
}

#InfoPint{
    width: 100%;
    height: 120px;
    background-image: linear-gradient(to bottom left, var(--tranp), var(--corP));
    border-radius: 10px;
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 5px var(--corP);
    margin-top: 10px;
}

.ImgPint {
    border-radius: 10px;
    border: 2px solid var(--corS);
    box-shadow: 0px 0px 5px var(--corS);
    width: 100%;
}
.User{
    display: flex;
}

.NomeUsuario{
	background-image: linear-gradient(to top, var(--corL), var(--corP));
  	-webkit-background-clip: text;
    color: transparent;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 15px;
    font-size: 30px;
}

.DescPint{
    text-align: center;
    color: var(--corD2);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 10px;
}

#Consultar{
    cursor: pointer;
    width: 120px;
    height: 35px;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    transition: .3s;
    background: none;
    color: var(--corP);
    border: 2px solid var(--corP);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--corP);
}

#Consultar:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

@media (max-width: 100px){
    #Conteudo{
        display: none;
    }
}

/* ----------------------Desenvolvedores---------------------- */

#desenvolvedores{
    background: var(--corD);
    padding: 20px;
    text-align: center;
}

#desig{
    display: inline-block;
}


#desenvolvedores img{
    width: 30%;
    transition: 0.3s;
}

#desenvolvedores img:hover{
    opacity: 0.5;
    transform: scale(1.5);
}

#desenvolvedores h2{
    color: var(--corP);
    font-family: 'Gugi', cursive;
}

#desenvolvedores h3{
    color: var(--corP);
    font-family: 'Gugi', cursive;
}

#desenvolvedores p{
    color: var(--corP);
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.social-media{          
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Redes{
    font-size: 2rem;
    background: transparent;
    color: var(--corP);
    width: 5rem;
    transition: .3s;
}

.Redes:hover{
    color: var(--corS);
    transform: scale(1.40)
}

@keyframes Mover{
    from {
        transform: translate(500px);
    }
    to {
        transform: translate(0);
    }
}

@media (max-height: 700px){
    #desig{
        margin-top: 90px;
    }
}