*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: var(--corD2);
}

input::placeholder {
    color: var(--corP);
}

.logo{
    margin-top: 0px;
    margin-left: 70%;
}

#Form-Card{
	background-image: linear-gradient(to top, var(--corD2), var(--corD));
    border: 3px solid var(--tranp);
    box-shadow: 0 0 20px var(--tranp);
    border-radius: 51% 49% 89% 11% / 49% 38% 62% 51% ;
    width: 780px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#Form-Card h2{
    margin-top: 10px;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
    font-family: 'Gugi', sans-serif;
    text-decoration: none;
    transition: 0.3s;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;    
}

.Icon{
    font-size: 60px;
    margin-top: 20px;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
}

#Registros{
    width: 70%;
}

.Form-I{ 
    margin: 30px;
}

.Input{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    margin: 10px auto;
    text-align: center;
    height: 38px;
    width: 320px;
    outline: none;
    background: var(--corD2);
    color: var(--corS);
    border: none;
    border-radius: 20px;
    border-bottom: 3px solid var(--corP);
    outline: none;
    box-sizing: border-box;
    transition: .3s;
}
.Input:focus{
    width: 420px;
    border-bottom: 2px solid var(--corS);
}

#botao{
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: 0;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-radius: 24px;
    background: var(--tranp);
    color: var(--corP);
    border: 2px solid var(--tranp);
    box-shadow: 0px 0px 5px var(--tranp);
    transition: .3s;                     
}

#botao:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

.Form-I p{
    margin-bottom: 20px;
    font-size: 30px;
    color: var(--corL);
}

.Form-I a{
    color: var(--corP);
}
.Form-I a:hover{
    color: var(--corS);
}