*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100vh;
    background-image: linear-gradient(to top left, var(--corD), var(--corD2));
}

body::-webkit-scrollbar{
    width: 15px;              
}
  
body::-webkit-scrollbar-track{
    background: var(--corL);
}
  
body::-webkit-scrollbar-thumb{
    background-color: var(--corD);
    border-radius: 20px;
    border: 2px solid var(--corS);
}

.Menu{
    position: relative;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gugi', cursive;
    background: var(--corD2);
    border-radius: 10px;
    border: 2px solid var(--corS);
    box-shadow: 0px 0px 15px var(--corS);
}

.Logo{
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
    font-family: 'Gugi', cursive;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: 750px;
}

.Voltar{
    cursor: pointer;
    padding: 5px 15px;
    font-family: 'Gugi', cursive;
    text-transform: uppercase;
    background: none;
    color: var(--corP);
    border: 2px solid var(--corP);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--corP);
    transition: .3s;
}

.Voltar:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

.Perfil{
    cursor: pointer;
    padding: 5px 15px;
    font-family: 'Gugi', cursive;
    text-transform: uppercase;
    background: none;
    color: var(--corP);
    border: 2px solid var(--corP);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--corP);
    transition: .3s;
}

.Perfil:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

.Pontinhos{
    position: absolute;
    right: 20px;
    top: 80px;
    color: var(--corP);
    font-size: 40px;
    cursor: pointer;
    transition: .3s;
}

.Pontinhos:hover,
.Pontinhos:focus{
    color: var(--corS);
}

.PontLista{
    font-family: 'Gugi', cursive;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 110px;
    width: 120px;
    background-image: linear-gradient(to top left, var(--corP), var(--corS));
    border-radius: 10px;
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 8px var(--corP);
    font-size: 20px;
}

.hide{
    display:none; /* classe para escoder e aparevcer a lista */
}

.Linha{
    margin-bottom: 10px;
}

.Editar{
    margin-bottom: 10px;
    cursor: pointer;
}

.Editar:hover{
    color: var(--corS);
}

#Adicionar{
    cursor: pointer;
}

#Adicionar:hover{
    color: var(--corS);
}

.container{
    padding-top: 50px;
    border-radius: 10px;
    border: 2px solid var(--corS);
    box-shadow: 0px 0px 15px var(--corD);
    background: var(--corD);
}

.Fundo-Pint{
    width: 600px;
    background: var(--corD2);
    border: 1px solid var(--corP);
    box-shadow: 0px 0px 15px var(--corP);
}

.Lado{
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

.Pintura{
    width: 100%;
}

.NomeT{
    margin-bottom: 20px;
    font-size: 35px;
    font-family: 'Gugi', cursive;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
}

.Nome-Pint{
    font-size: 35px;
    font-family: 'Gugi', cursive;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
}

.Desc-Pint{
    margin-top: 10px;
    width: 500px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: var(--corL);
}

.ContPint{
    padding: 30px;
    border-radius: 30px;
    border: 2px solid  var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

.ContAdmin{
    padding: 30px;
    border-radius: 30px;
    border: 2px solid  var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

.Foto-Admin{
    width: 50%;
    border-radius: 50%;
    border: 2px solid var(--corL);
    box-shadow: 0px 0px 12px var(--corL); 
}

.Nome-Admin{
    margin-top: 20px;
    font-size: 35px;
    font-family: 'Gugi', cursive;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
}

.Desc-Admin{
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: var(--corL);
}

.TextE{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 20px;
    text-align: center;
    color: var(--corL);
}

.Redes{
    justify-content: space-around;
    cursor: pointer;
    margin-top: 50px;
    margin: 30px;
    font-size: 3rem;
    background: transparent;
    color: var(--corL);
    width: 5rem;
}

.E{
    color: var(--corL);
    transition: .3s;
}
.E:hover{
    color: var(--corP);
    transform: scale(1.40);
}

.W{
    color: var(--corL);
    transition: .3s;
}
.W:hover{
    transform: scale(1.40);
    color: #32CD32;
}

.F{
    background: var(--tramp);
    color: var(--corL);
    border-radius: 50px;
    border: 1px solid var(--corD);
    box-shadow: 0px 0px 8px var(--tranp);
    transition: .3s;
}
.F:hover{
    background: white;
    color: #0000FF;
    border-radius: 50px;
    border: 1px solid var(--corL);
    box-shadow: 0px 0px 8px var(--corL);
    transform: scale(1.40);
}

.I{
    color: var(--corL);
    transition: .3s;
}
.I:hover{
    background-image: linear-gradient(to top, #FF1493, #8A2BE2);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.T{
    color: var(--corL);
    transition: .3s;
}
.T:hover{
    color: #00BFFF;
    transform: scale(1.40);
}

@media (max-width: 700px){
    .Logo{
        margin: 0;
    }
    .contContato{
        margin-top: 20px;
        width: 450px;
    }
    .Redes{
        border: None;
        font-size: 35px;
    }
}