*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100vh;
    background-image: linear-gradient(to top left, var(--corD), var(--corD2));
}

body::-webkit-scrollbar{
    width: 15px;              
}
  
body::-webkit-scrollbar-track{
    background: var(--corL);
}
  
body::-webkit-scrollbar-thumb{
    background-color: var(--corD);
    border-radius: 20px;
    border: 2px solid var(--corS);
}
.espaço{
    padding: 50px;
}

.Menu{
    position: fixed;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gugi', sans-serif;
	background-image: linear-gradient(to top, var(--tranp), var(--corD2));
    border-radius: 10px;
    border: 2px solid var(--corS);
    box-shadow: 0px 0px 15px var(--corS);
}

.Logo{
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
    font-family: 'Gugi', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.Icon{
    font-size: 20px;
}

.btn-menu{
    width: 145px;
    height: 32px;
    cursor: pointer;
    font-family: 'Gugi', sans-serif;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 5px;
    justify-content: center;
    align-items: center;
    background: none;
    color: var(--corP);
    border: 2px solid var(--corP);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--corP);
    transition: .3s;
}

.btn-menu:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

.container{
    padding-top: 50px;
    border-radius: 10px;
    border: 2px solid var(--corS);
    box-shadow: 0px 0px 15px var(--corD);
    background: var(--corD);
}

.Fundo-Pint{
    width: 400px;
    border-radius: 20px;
    background: var(--corD2);
    border: 1px solid var(--corP);
    box-shadow: 0px 0px 15px var(--corP);
}

.Pintura{
    width: 100%;
    border-radius: 20px;
}

.NomeT{
    margin-bottom: 20px;
    font-size: 35px;
    font-family: 'Gugi', sans-serif;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
}

#Nome-Pint{
    font-size: 35px;
    font-family: 'Gugi', sans-serif;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
}

#Desc-Pint{
    margin-top: 10px;
    width: 500px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: var(--corL);
}

/* ------------------------------------Editar------------------------------------ */
#Editar{
    width: 100%;
    margin-top: 30px;
    text-align: center;
	background-image: linear-gradient(to top, var(--tranp), var(--corD2));
    border: 0;
    border-radius: 20px;
    border-top: 3px solid var(--corS);
    border-bottom: 3px solid var(--corS); 
}

#Editar h2{
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Gugi', sans-serif;
	background-image: linear-gradient(to bottom, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
}

#Editar input::placeholder {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--corL);
}

#NNPint, #DNPint{
    height: 40px;
    width: 400px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    display: block;
    margin: 30px auto;
    text-align: center;
    outline: none;
    background: var(--tranp);
    color: var(--corP);
    border: none;
    border-radius: 20px;
    border-bottom: 2px solid var(--corP);
    box-sizing: border-box;
    transition: .3s;
}

#NNPint:focus{
    width: 480px;
    border-bottom: 2px solid var(--corS);
}
#DNPint:focus{
    width: 480px;
    border-bottom: 2px solid var(--corS);
}

#PNPint{
    display: none;
}

.SelectP{
    padding: 5px 25px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 24px;
    background: var(--tranp);
    color: var(--corP);
    border: 2px solid var(--tranp);
    box-shadow: 0px 0px 5px var(--tranp);
    transition: .3s;
}

.SelectP:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

#btn-SP{
    width: 100px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 24px;
    background: var(--tranp);
    color: var(--corP);
    border: 2px solid var(--tranp);
    box-shadow: 0px 0px 5px var(--tranp);
    transition: .3s;
}

#btn-SP:hover{
    background: var(--corP);
    color: var(--corD);
    border: 2px solid var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

.InfoP{
    padding: 30px;
    border-radius: 30px;
    border: 2px solid  var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

.ContAdmin{
    padding: 30px;
    border-radius: 30px;
    border: 2px solid  var(--corP);
    box-shadow: 0px 0px 10px var(--corP);
}

.Foto-Admin{
    width: 50%;
    border-radius: 50%;
    border: 2px solid var(--corL);
    box-shadow: 0px 0px 12px var(--corL); 
}

.Nome-Admin{
    margin-top: 20px;
    font-size: 35px;
    font-family: 'Gugi', sans-serif;
	background-image: linear-gradient(to top, var(--corP), var(--corS));
  	-webkit-background-clip: text;
    color: transparent;
	text-transform: uppercase;
}

.Desc-Admin{
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: var(--corL);
}

.TextE{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 20px;
    text-align: center;
    color: var(--corL);
}

.Redes{
    justify-content: space-around;
    cursor: pointer;
    margin-top: 50px;
    margin: 30px;
    font-size: 3rem;
    background: transparent;
    color: var(--corL);
    width: 5rem;
}

.E{
    color: var(--corL);
    transition: .3s;
}
.E:hover{
    color: var(--corP);
    transform: scale(1.40);
}

.W{
    color: var(--corL);
    transition: .3s;
}
.W:hover{
    transform: scale(1.40);
    color: #32CD32;
}

.F{
    background: var(--tramp);
    color: var(--corL);
    border-radius: 50px;
    border: 1px solid var(--corD);
    box-shadow: 0px 0px 8px var(--tranp);
    transition: .3s;
}
.F:hover{
    background: white;
    color: #0000FF;
    border-radius: 50px;
    border: 1px solid var(--corL);
    box-shadow: 0px 0px 8px var(--corL);
    transform: scale(1.40);
}

.I{
    color: var(--corL);
    transition: .3s;
}
.I:hover{
    background-image: linear-gradient(to top, #FF1493, #8A2BE2);
  	-webkit-background-clip: text;
    color: transparent;
    transform: scale(1.40);
}

.T{
    color: var(--corL);
    transition: .3s;
}
.T:hover{
    color: #00BFFF;
    transform: scale(1.40);
}

@media (max-width: 700px){
    .Logo{
        margin: 0;
    }
    .contContato{
        margin-top: 20px;
        width: 450px;
    }
    .Redes{
        border: None;
        font-size: 35px;
    }
}